[2020-03-19 18:01] kcq commented on #139
@otaconix i'm also curious to learn more about your container image too. Is it a closed source / private project? What can you share? Speaking of sharing... is it possible for you to share to console output and do you mind enabling the debugging mode (using the global `--debug` flag) and enabling the container logs (using the `--show-clogs` flag)?

[2020-03-19 18:28] otaconix commented on #139
@kcq What constitutes a probe failure though? Is that a non-2xx status code? Or errors on a lower level (TCP or lower)?

I'm not sure what a generic solution looks like. Maybe allowing the execution of some provided binary/script to be run as a probe would prove to be generic enough. Such a script would need to be invoked with the container ID or somesuch to enable it to figure out how to do what

[2020-03-19 18:30] otaconix commented on #139
Mine was an nginx image with invalid configuration. I believe the container wasn't even running when the probes started.

[2020-03-20 07:56] rcomanne commented on #139
My Image was a Clair image, but what kind of image it is should not really matter. If I have a container which contains a webserver which can be checked by HTTP health checks, I'd expect the run to fail if the probes failed as well.
Like @otaconix said, just giving a non zero exit code would already be really helpful.

[2020-03-20 16:58] kcq commented on #139
@rcomanne The new `--http-probe-exit-on-failure` flag will provide the behavior you are looking for (it's already there and it'll be available in the next release next week).

The reason I asked about the image is because I wanted to repro the condition and figure out how to make it not fail in the first place :-) Curious if you created your own Clair image or if you used an existing image ( https

[2020-03-20 17:15] rcomanne commented on #139
@kcq great, but is there a reason this is not default behaviour? Normally I'd expect a fail if there are failed probes default.

I used the coreos clair image for my testing.

[2020-03-20 17:47] kcq commented on #139
@otaconix network failures are considered to be errors (so if the target HTTP API returned a 404 or another non-200 status it would be considered a successful call).

What kind of invalid nginx config did you have?

[2020-03-20 22:22] otaconix commented on #139
@kcq You can reproduce it with an nginx image as follows (what causes the nginx configuration to be invalid seems irrelevant to me):

[code]

[2020-03-21 12:17] otaconix commented on #139
Here's the logging from a run of docker-slim with the above command (+ `--debug` and `--show-clogs`): https://gist.github.com/otaconix/659f79c43c965b84a60b04439b02002b

[2020-03-22 17:15] kcq commented on #139
@otaconix Thanks for the repro info and the logs! Super useful! One potential feature to add is an application termination/crash detection, so it can be used as a data point figuring out the optimization command state/success though it might be tricky in some cases (need to investigate further)...

[2020-03-22 17:19] kcq commented on #138
@xiaozhongliu Can you share a bit more info about your `k8s-demo-grpc` container image? What does it do? Looks like it's a node.js-based grpc app... Is it really the case? Do you mind enabling the debug mode (by adding the global `--debug` flag to the `docker-slim` command) and can you also enable the container logs too (with the `--show-clogs` flag).

[2020-03-23 09:25] rcomanne commented on #139
@kcq for full information, here is the logging of my run of the Clair image. There is no PostgreSQL connection information in the image, so Clair fails to start, so the container crashes.
As the container is not up, I do not expect any response from the webserver, so no 4xx or 5xx codes either, which should mean the build fails imo.
[code]

[2020-03-25 11:49] rcomanne opened #140 "add option for --include-exe-file"
Hi, I think it would be nice if we were able to include the exes and binaries we want from a file as well.

[2020-03-25 20:03] kcq commented on #140
Good idea :-) Thanks for the suggestion @rcomanne ! Will add the `--include-bin-file` and `--include-exe-file` flags in the next release.

[2020-03-30 06:30] kcq commented on #139
Thanks a lot @rcomanne ! Will be useful for the repro :)

[2020-04-05 15:30] Ranbato opened #141 "XRay works, but build fails with EOF error"
Image [marklambert/nextpvr-ccextractor](https://hub.docker.com/repository/docker/marklambert/nextpvr-ccextractor)

This image will eventually fail for other reasons because it uses .NET runtime, but this analysis failure should probably be looked at separately.

`mark@Storage:~/docker-slim/dist_linux$ ./docker-slim build marklambert/nextpvr-ccextractor
docker-slim[build]: info=http.probe message='

[2020-04-06 07:29] kcq commented on #141
Thanks for opening the issue @Ranbato ! This is a strange error... Building an empty image fails with the 'unexpected EOF' error... What version of Docker do you have? What linux distro/version are you using for the host? I'll try to repro the condition...

Speaking of the xray command... What kind of info were  you looking for? Is there's more you'd like to see?

[2020-04-06 14:26] Ranbato commented on #141
I'm running Docker on my NAS so hopefully you can reproduce without the specific version of Linux.

Linux Storage 4.4.59+ #24922 SMP PREEMPT Mon Aug 19 12:13:37 CST 2019 x86_64 GNU/Linux synology_apollolake_918+
Docker version 18.09.8, build 2c0a67b

I wasn't looking for anything specific using xray, just trying to narrow down where the error was occurring.
If you can't reproduce from the above im

[2020-04-13 01:37] a18792721831 opened #142 "Error: could not find libjava.so"
os:
Linux host-10-0-228-117 3.10.0-1062.1.2.el7.x86_64 #1 SMP Mon Sep 30 14:19:46 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

question:
Error: could not find libjava.so
Error: Could not find Java SE Runtime Environment.

process:
1. docker-slim build <image-id>
output:
docker-slim[build]: info=http.probe message='using default probe'
docker-slim[build]: state=started
docker-slim[build]: info=params t

[2020-04-13 23:14] etherai opened #143 "Python console entrypoint not working with docker slim"
I have a python module that registers an console `entrypoint` via setuptools. The entrypoint of my container invokes this command (which in turns invokes itself several times). The resulting slim image contains the exeutable in my shell's path however it does not work. Attempting to run the command from the resulting slim images produces:

[code]

Any advice is much appreciated!

[2020-04-26 07:50] heshenheng opened #146 "How to rename the image name and tag after slim build?"
After slim build,the new docker image name is XXX.slim and tag is latest,but this isn't what I want.

[2020-05-14 01:39] kerwin6182828 commented on #146
docker image tag <current_image_name> <new_image_name>

[2020-05-14 01:50] heshenheng commented on #146
thanks kerwin and I know the way you said it,but I want to know the way when docker-silm building the new image,rather then after slim build.

[2020-05-14 04:13] kcq commented on #146
@heshenheng you can use the `--tag` parameter to have a different image: `docker-slim build --tag new-image-name:custom-tag-name your-image`

[2020-05-14 06:13] heshenheng commented on #146
@kcq thank you very much!

[2020-05-14 06:21] #146 closed

[2020-05-15 02:17] heshenheng opened #147 "Sometimes Using docker-slim building may cause Java application startup errors."
Firstiy,I'm sure that my fat-image runs fines.
Then,I delete the container from my fat-image and using shell command to slim my fat-image.
--sudo: docker-slim build --include-path /var/local --include-shell --http-probe=false [myfatimage]:[version]

--builing logs:
docker-slim[build]: info=probe message='changing continue-after from probe to enter because http-probe is disabled'
docker-slim[build]

[2020-05-15 13:40] thenom commented on #116
Hi, is there an issue to track for this or any movement on it?

[2020-05-15 16:23] thenom commented on #10
This means transposing all the docker-compose config that is used\required during testing\development over to docker-slim when they are already configured and tested using the docker-compose.yml including network, ports, env vars, etc.  Providing a the yml to docker-slim (or some other mechanism) would stop duplication of code\config that would be required for pipelines etc.

In our case the devs

[2020-05-15 18:57] x-private-one commented on #10
@thenom supporting docker-compose configs directly is a great UX feature. Trying to find ways to have this sooner (really hope it can be a part of the next release)... It'll be great because then `docker-slim` can also initialize/control the whole environment and you don't need to do it separately/manually with docker-compose.

[2020-05-15 18:58] kcq commented on #10
@thenom supporting docker-compose configs directly is a great UX feature. Trying to find ways to have this sooner (really hope it can be a part of the next release)... It'll be great because then docker-slim can also initialize/control the whole environment and you don't need to do it separately/manually with docker-compose.

[2020-05-16 20:12] kcq commented on #141
@Ranbato thanks for the Docker version info! Yes, it'll be pretty helpful if you could share the Dockerfile

[2020-05-16 20:17] kcq commented on #147
@heshenheng I'm curious to learn more about your application image... What did you use for your base image? What do the ENTRYPOINT/CMD intructions look like in your app container image? Also wonder if there's a reason you disabled http probing

[2020-05-16 20:31] kcq commented on #142
@a18792721831 curious what you used for the base image... What kind of OS image is it? Can you share the container logs when `docker-slim` runs? You can get them by adding the `--show-clogs` parameter to the `docker-slim build` command (or directly from Docker with the usual `docker logs` command).

[2020-05-16 20:38] kcq commented on #143
@etherai do you mind sharing the ENTRYPOINT/CMD instructions from your application image? What kind of python base image are you using? Is it Alpine-based? Can you share your `docker-slim build` command line parameters? Curious how you invoke it... Can you also enable debugging (using the global `--debug` flag) and the container console logs (using the `--show-clogs` build command flag)? Your buil

[2020-05-17 23:05] Ranbato commented on #141
Here is the Dockerfile

[Dockerfile.txt](https://github.com/docker-slim/docker-slim/files/4641235/Dockerfile.txt)

[2020-05-18 02:23] heshenheng commented on #147
@kcq My Dockerfile configuration is as follows:

FROM java:8
MAINTAINER heshenheng
ADD user.jar user.jar
EXPOSE 30001
ENTRYPOINT ["java","-jar","user.jar"]

[2020-05-18 08:06] heshenheng commented on #147
@kcq Compare with my fat-image container,I find the slim-image container missing jsse.jar,so I want to know how to use docker-slim correctly to ensure environmental conditions satisfy the java operation requirements.

[2020-05-20 15:53] jlengrand opened #149 "Node application gets all its dependencies stripped when minified"
Hey there!

I'm just getting started with `docker-slim`, so apologies if my question has been covered already.

I'm building a Dockerfile for [this project](https://github.com/carbon-app/carbon) (for fun). You can see the latest version of my Dockerfile [here](https://github.com/jlengrand/carbon/blob/feature/docker/Dockerfile).

Here it is just in case for reference :

[code]

The latest image I w

[2020-05-20 15:55] jlengrand commented on #149
I do see in the slim report that port 3000 is marked as export, so at least that part of the config is picked up properly.

[2020-05-20 16:03] jlengrand commented on #149
Ok, doing this seems to generate a fine working image `$ docker-slim build --include-path=/app  julienlengrand/carbon.now.sh:latest` while shaving 20Mb off my image, which is always welcome. It still feels quite unoptimized yet, given that 280mb of stuff is in the /app folder :D

[2020-05-24 16:07] kcq commented on #149
@jlengrand We'll figure this out :) One of the potential reasons for this is dynamic client-side templates... Let me investigate and i'll update asap.

[2020-05-24 19:38] kcq commented on #149
@jlengrand here's a better command version: `docker-slim build --include-path=/app/.next julienlengrand/carbon.now.sh` and it should get you an image that's 99MB (giving you ~3.5x reduction in size, which is what I got in my test). Still investigating if http probing and its new crawling capability can help too...

[2020-05-24 21:39] jlengrand commented on #149
Hey there! Thanks for looking into it! Let me check it out :).

[2020-05-24 21:49] jlengrand commented on #149
Alright so I'm getting some warnings in the console about missing dependencies, and also some missing CSS files in the console, but it seems like the functionality is actually working indeed!

Thanks a lot for the help :).

For reference :

[code]

and

![image](https://user-images.githubusercontent.com/921666/82765701-32b03080-9e19-11ea-8b1a-8d1562c34f29.png)

[2020-05-24 21:55] jlengrand commented on #149
Something interesting BTW, I tried using docker slim with and without squashing the image first.
It appears that docker slim is actually being more efficient at slimming down the non squashed image now :).

[code]

(The older versions from 2 days ago have `/app` as path, while the new ones have `/app/.next`

[2020-05-24 22:07] kcq commented on #149
@jlengrand including the public directory should take care of those (most of them, at least): `docker-slim build --include-path=/app/.next --include-path=/app/public julienlengrand/carbon.now.sh` Switching themes seemed to work for me even without including that directory.

[2020-05-24 22:09] jlengrand commented on #149
Yes, same here! The application complains, but is running fine :).

In case you're interested, I wrote a post about all the steps I took. https://lengrand.fr/ghost/#/editor/post/5ebfe0c8e7e3d3679366208a/. In the last stretch, docker slim was definitely the biggest winner. Well done!

[2020-05-24 22:10] jlengrand commented on #149
Closing the issue as you seem to have found the main problem. Thanks again!

[2020-05-24 22:10] #149 closed

[2020-05-29 13:53] Phantomape commented on #102
I tried using docker slim on nvidia runtime docker and it does remove CUDA. Can easily repro via docker-slim build —http-probe=false <any nvidia runtime image>

[2020-05-31 05:37] kcq commented on #149
Great blog post @jlengrand ! i also created an example for it in the examples repo: https://github.com/docker-slim/examples/tree/master/3rdparty/carbon-now-sh

[2020-05-31 06:26] jlengrand commented on #149
Hey there, thanks! Thanks for referencing, looks good :). Note that I used that experience to learn Docker, not sure how fair it is to compare.

I like it a lot though, the end image is super clean!

[2020-05-31 06:56] kcq commented on #149
That's a great learning experience and it also shows that you have to know a lot to optimize things manually :)

[2020-05-31 07:31] jlengrand commented on #149
It is! I was simply referring to what you named 'the hard way' in your README.
I added your example on top of my blog post so people get redirected to it :).

Have a great weekend!

[2020-06-01 12:05] suruaku opened #150 "Node application missing gyp"
Hi I just found this project and gave it a try, its really nice! [While writing this](https://en.wikipedia.org/wiki/Rubber_duck_debugging) I actually solved my issue... :) So here comes the issue and solution. I checked other issues and could not find similar one.

I build my image from Dockerfile and it works:
[code]

Then I use ```docker-slim build my-app:latest``` and you can see some errors th

[2020-06-01 16:18] xlz-sbarillet opened #151 "sudo: /usr/bin/sudo must be owned by uid 0 and have the setuid bit set"
Hello,
I try to slim one of my container based on UBUNTU:18.04,
I've a x30 minify performance that is really great but I've a sudo command issue which I can't get rid of.
In my Dockerfile, I've an 'apt-get install sudo' command in a bash script called by the ENTRYPOINT
 and I need it to load a driver at container start-up due to a USER switch.
The bash file contains this line: ` sudo /etc/init.d/<

[2020-06-02 01:12] a18792721831 commented on #142
close，thanks。

[2020-06-02 01:12] #142 closed

[2020-06-03 08:56] chrisns opened #152 "buildx docs"
Hey, this looks amazing, is there anyway I can integrate with multi-arch docker builds?

Some docs on this would be amazing

Guessing it's something in the realm of `docker buildx create --driver [something]` and having a custom build driver? (sorry I don't know enough about the mechanics of it, hoping someone else does)

[2020-06-09 04:21] XVilka commented on #100
It works now with the latest Fedora 32 (podman 1.9.3):
[code]

[2020-06-09 04:21] #100 closed

[2020-06-17 06:00] kcq commented on #152
@chrisns just to double check... are you trying to use `docker-slim` to optimize an image for a different platform?

[2020-06-17 06:26] kcq commented on #151
@xlz-sbarillet might be good to try setting the user (and potentially group) ID on `/usr/bin/sudo` to 0 like this: --include-path='/usr/bin/sudo:4755#0#0'  You can find a bit more about it here: https://github.com/docker-slim/docker-slim#what-if-my-docker-images-uses-the-user-command

[2020-06-17 06:48] chrisns commented on #152
Yeah. I guess a common use case is targeting a pi so building for arm but developing on amd64
Docker buildx makes that super easy, especially for easily collecting a multi arch manifest to push it all to a repo
Would be cool to be able to run docker-slim in that journey somehow

[2020-06-17 08:22] kcq commented on #152
@chrisns It's possible in theory, but it'll have to rely only on static analysis because dynamic analysis requires the same platform. I'll need to explore the options there. This is an interesting idea

[2020-06-17 08:29] chrisns commented on #152
in theory you could use the same qemu emulation pattern that buildx is to run the dynamic analysis - maybe ¯\_(ツ)_/¯

[2020-06-25 04:29] vc43 opened #154 "Error "invalid context directory""
What means this error?

`docker-slim[build]: info=basic.image.name value=docker-slim-tmp-fat-image.15089.20200625042508
time="2020-06-25T07:25:08+03:00" level=fatal msg="docker-slim: failure" error="invalid context directory" stack="goroutine 1 [running]:\nruntime/debug.Stack(0xf506d8, 0xc000062f70, 0xc00047d160)\n\truntime/debug/stack.go:24 +0x9d\ngithub.com/docker-slim/docker-slim/pkg/util/errut

[2020-06-28 12:33] samip5 opened #155 "ARM 64-bit not supported?"
When building docker-slim on aarch64, the resulting binary is 32-bit, why?

I mean, it works as 32-bit too, but?

[code]

[code]

[2020-06-28 23:39] kcq commented on #155
@samip5 the build generates 3 different versions with the same target architectures regardless where it's built. Here's the line related to arm: https://github.com/docker-slim/docker-slim/blob/master/scripts/src.build.sh#L31 For arm64 we'll also need the syscall table like this https://github.com/docker-slim/docker-slim/blob/master/pkg/system/syscalls_armf32.go

I'll be happy to add a build for ar

[2020-06-29 00:55] kcq commented on #154
@vc43 looks like you are trying to build an optimized image from a Dockerfile and the build context you provided doesn't appear to be a valid directory. Your command line probably looked something like this: `docker-slim build --dockerfile YOUR_DOCKERFILE_NAME  YOUR_BUILD_CONTEXT_DIR`. Can you share your actual command line when you ran `docker-slim`? What does YOUR_BUILD_CONTEXT_DIR point to in y

[2020-06-29 01:15] kcq commented on #150
@suruaku the npm-lifecycle dependency should have been picked up and it shouldn't need to be included explicitly (`--include-path` is a bit low level, so simply including `npm-lifecycle/noop.js` didn't help because it relies on other things that need to be included too; `--include-app-package`, which will take care of the extra depdencies, will be a better option, but it's still a WIP).

Either wa

[2020-07-01 01:12] kadern0 commented on #155
@kcq I've sent you a MR for the syscall table, also let me know if you need help for testing.

[2020-07-01 01:16] kcq commented on #155
Awesome! Thank you @kadern0 ! Looking at the PR...

[2020-07-01 01:17] kcq commented on #155
@kadern0 what did you use for the syscall numbers? can you add a reference to the source

[2020-07-01 01:31] kadern0 commented on #155
This is the file I've used:
https://github.com/torvalds/linux/blob/master/include/uapi/asm-generic/unistd.h

Couple things:

For this syscall, I've chosen the "sync_file_range" one:
[code]
I've also followed this comment:
[code]
And about the Go code itself, do you think it is necessary/useful redefining these constants instead of using the ones from arm32?
[code]
Thanks for your quick reply!

[2020-07-01 01:35] kcq commented on #155
Thanks for the info @kadern0 ! It'll be interesting to verify if the  sync_file_range name is what seccomp will expect (which can be done separately).

Would you also be interested in updating the build script to generate the arm64 executables?

[2020-07-01 03:08] kadern0 commented on #155
@kcq I'll have a look later this afternoon to both things. I'll ping you if I find any problems.

[2020-07-01 03:34] kcq commented on #155
Thank you!

[2020-07-07 14:14] #155 closed

[2020-07-09 08:48] sergey-koba-mobidev commented on #112
You can do `--include-path=/usr/local/bin/bundle`, but then you will have a bunch of other problems with alpine.
I gave up on
[code]
It seems docker-slim and alpine are not working together well, right?

[2020-07-09 15:06] kcq commented on #112
@sergey-koba-mobidev it should be working... are you experiencing a similar problem?

[2020-07-09 15:08] sergey-koba-mobidev commented on #112
Yes, I am trying to docker-slim `FROM ruby:2.6-alpine3.11` image and have the same problem

[2020-07-09 15:10] kcq commented on #112
@sergey-koba-mobidev how does your Dockerfile look like? Does it look like this https://github.com/docker-slim/examples/blob/master/ruby2_rails5_standard/Dockerfile or do you have something special for the entrypoint/cmd?

[2020-07-10 13:28] sergey-koba-mobidev commented on #112
Here it is:
[code]

[2020-07-10 20:45] kcq commented on #112
@sergey-koba-mobidev thanks for sharing your Dockerfile! Working on a repro... I'll share my updates soon :)

[2020-07-10 23:27] kcq commented on #112
a number of new Rails/Alpine examples:

* https://github.com/docker-slim/examples/tree/master/ruby2_rails5_alpine
* https://github.com/docker-slim/examples/tree/master/ruby2_rails5_alpine_puma
* https://github.com/docker-slim/examples/tree/master/ruby2_rails5_alpine_puma_sh

still working on a rails/unicorn repro...

[2020-07-11 18:05] sergey-koba-mobidev commented on #112
Thank you @kcq !

[2020-07-15 03:02] openedhardware opened #158 "How to enable dynamic HTTP requests?"
I have a python container that downloads files from various remote URLs including github & AWS S3.

Here is my build command:
[code]
I had to manually include the certification path which is used by `requests` package.

And used the following command to start the slimified container:
[code]
But getting this error
[code]

It downloads `raw.githubusercontent.com/pjreddie/darknet/master/data/coco.nam

[2020-07-15 05:14] kcq commented on #158
Thank you @openedhardware for providing all this background info! This will be super helpful trying to repro the condition.

A couple of extra questions... Do you use the multiprocessing or threading packages by any chance? Where do you store the downloaded files? Is it local files to the container? Is it stored to a volume or maybe some kind of network file system?

Also curious... why did you do

[2020-07-15 05:36] openedhardware commented on #158
@kcq

Thanks for your quick reply!

1. Yeah, I am using `threading` in many classes, and the download URL is defined in a python file as a constant:
[code]
But some other URLs are created dynamically.. e.g.
[code]

2. Downloaded files are stored at the volume mounted directory. Could be a problem?
3. `--privileged` is used to access to the webcam and `--network host` is used for the local node-red

[2020-07-15 06:41] kcq commented on #158
Thanks for the clarifications @openedhardware ! One more question :) What base image are you using?

[2020-07-15 07:03] openedhardware commented on #158
@kcq

[code]

This is my `Dockerfile`.

Thanks!

[2020-07-15 09:09] openedhardware commented on #158
@kcq
Here is the content of the `requirements.txt` fie:
[code]

The `protobuf` package(from `tensorflow`) doesn't seem to be installed correctly?

[2020-07-15 15:00] kcq commented on #158
@openedhardware thank you! curious... how are you using tensorflow and opencv?

[2020-07-15 15:01] kcq commented on #158
working on a basic repro app... i'll keep expanding until it breaks :)

[2020-07-15 15:02] kcq commented on #158
yes, something is going on with the protobuf package... it's most likely related to its non-python components

[2020-07-15 20:00] openedhardware commented on #158
Hi, @kcq

Thanks for your help!

Yeah, non-python components are suffering.... Had to spend a day figuring out the `requests` library issue..

Opencv & TF: I am normally using them to detect a person from the webcam.

Cheers

[2020-07-15 23:14] kcq commented on #158
@openedhardware what's the relationship between the logic that downloads the files and opencv/TF?

[2020-07-15 23:47] openedhardware commented on #158
That is to download the trained model files and label files.
@kcq

I think docker-slim should work with any HTTP API calls?

I do have another container that scraps a bunch of websites, so couldn't specify how many URLs will be used as it downloads the target list from our server as well.

Is there any restriction? I am a newbie to `docker-slim`, so I have no idea how it works internally.

Thanks

[2020-07-17 07:00] openedhardware opened #159 "Python Request Fails to download"
I have created a testing repo to make it easy to find the reason - https://github.com/openedhardware/test_docker_slim

This repository is pretty simple.. just calls an HTTP endpoint to download a static file in a thread!
https://github.com/openedhardware/test_docker_slim/blob/master/main.py

But I get this error messages:
[code]

Any idea what causes this weird issue?

Cheers.

[2020-07-17 07:01] openedhardware commented on #158
@kcq

I have submitted a new issue for this issue as it failed to download a static file - https://github.com/docker-slim/docker-slim/issues/159

Thanks!

[2020-07-22 19:54] kcq commented on #112
@sergey-koba-mobidev here's the latest rails/alpine example and it uses unicorn_rails to start the app: https://github.com/docker-slim/examples/blob/master/ruby2_rails5_alpine_unicorn_rails/Dockerfile

It looks like there's something else going on... I noticed that you install the `libv8` gem and also `nodejs`. What do you have in your Gemfile and what are you doing with libv8 and nodejs there?

[2020-07-25 12:38] shahidhruv commented on #69
step 1 (command i used) :  docker run hello-world ls
step 2  (response i got) :
docker: Error response from daemon: OCI runtime create failed: container_linux.go:349: starting container process caused "exec: \"ls\": executable file not found in $PATH": unknown.
ERRO[0001] error waiting for container: context canceled

[2020-08-02 11:45] suruaku commented on #150
Okay thanks for the info! [Here](https://gitlab.com/lut1/blogger) is the whole project I built an image for. The image was for [front-end](https://gitlab.com/lut1/blogger/-/tree/master/front-end)directory in that project. There is [update.sh](https://gitlab.com/lut1/blogger/-/blob/master/update.sh) script which uses the exactly command I used to build.

[2020-08-02 19:30] kcq commented on #150
@suruaku thank you for sharing the app! This is super userful and it'll help with my repro... Vue/Nuxt apps are fun especially when you use the universal mode and you have a bit of extra logic on the server side :-) I'll post an update soon

[2020-08-05 02:21] openedhardware commented on #159
@kcq
Any update here?

The testing repository is pretty simple as you could see.

Thanks!

[2020-08-05 05:33] kcq commented on #150
Managed to repro the condition. Ended up with a couple of different workarounds... The first one is similar to what you have in your shell script, but I only included the global `node-gyp` dependency for the `npm` package (no need to include everything). With the other workaround I just got rid of `npm start' and used `next-start' (which I added to the project after turning all other dependencies

[2020-08-05 06:17] kcq commented on #159
I tried to repro it and I haven't had much luck yet... My minified image works fine and it's not failing. I'll try adding code to it.

[2020-08-10 07:14] openedhardware commented on #159
@kcq
That's pretty odd.

I am building the docker image on Ubuntu18.04.
Should I try on a different platform?

Cheers.

[2020-08-14 23:46] kcq commented on #159
I used `python:3.7-slim-buster` as the base image like it's done here https://github.com/openedhardware/test_docker_slim/blob/master/Dockerfile  I can try using Ubuntu.

[2020-08-16 02:59] sudosammy opened #160 "Accept a runtime parameter"
DockerSlim doesn't work in the `gVisor` runtime due to its lack of fanotify(7) support tracked here: https://github.com/google/gvisor/issues/2555 DockerSlim fails in the gVisor runtime with the following error:

[code]

Making DockerSlim work without the use of fanotify sounds challenging and very uncool. Another solution would be to pass the `--runtime` flag to Docker so the user can specify a di

[2020-08-16 05:09] kcq commented on #160
@sudosammy supporting multiple container runtimes is a good feature to have in general... though we might also need to enhance how the containerized application is monitored (new monitoring engine is coming that won't need fanotify, but it might also have problems with gvisor... for similar reasons... need to investigate)

[2020-08-16 05:59] sudosammy commented on #160
Thanks @kcq, any ETA on the new monitoring engine? I also tried running DockerSlim in a container and specifying its runtime which I thought was going to work: `docker run --runtime=runc -it --rm -v /var/run/docker.sock:/var/run/docker.sock dslim/docker-slim build --target my-image`

But, same error which is a bit confusing...
[code]

[2020-08-18 00:34] kcq commented on #160
There's a couple of options... enhancing an existing engine and creating a new monitoring engine. Both are still in their planning phase mostly because of the resource constraints. I'm looking for developers to help me with both options. Any referrals are greatly appreciated :-)

[2020-08-19 10:19] AndrewSkelton opened #161 "s6-mkfifo Error"
Hi,

After slimming my image, when I try to start it up, I get the following error:

`s6-mkfifo: fatal: unable to mkfifo /var/run/s6/services/s6-fdholderd/supervise/control: No such file or directory`

Any suggestions on a way to resolve this?

To reproduce:

[code]

[2020-08-24 03:32] kcq commented on #161
adding a few links for context...

The container image info:

* https://hub.docker.com/r/bioconductor/bioconductor_docker
* https://github.com/Bioconductor/bioconductor_docker
* https://github.com/Bioconductor/bioconductor_docker/blob/master/Dockerfile - the Dockerfile for the image

[2020-08-24 03:35] kcq commented on #161
Looks like there's a lot of stuff in that image and it's more like a base image and an IDE rolled into one :-) This means that they'll be lots of extra packages there intentionally because it's meant to be used as a tool to build new applications...

The error itself is probably related to the s6-overlay init system and how it's designed. Need to investigate more...

[2020-08-24 08:06] AndrewSkelton commented on #161
Interestingly, (and something I should have included in the original post) is that `/var/run/s6/services/s6-fdholderd/supervise/control` doesn't seem to exist when starting the un-slimmed image with bash, but could be something that is created when starting the web service to serve the IDE.

This image is built from `rocker/rstudio:4.0.2`, which stems from `debian:buster`. Essentially contains the

[2020-08-24 15:40] kcq commented on #87
@AkihiroSuda and everybody who stumbles on this issue trying to figure out how to have usable `seccomp` profiles :-) The latest version ( `1.32.0` ) finally got the necessary (multi-process/multi-threading) enhancements to make the generated `seccomp` profiles usable for more applications. I also updated the `examples` repo to have more examples with `seccomp` profiles (e.g., https://github.com/do

[2020-08-26 02:09] kcq commented on #139
by the way, the `--http-probe-exit-on-failure` is true by default now :)

[2020-09-02 13:23] jurgonaut opened #162 "Python: ModuleNotFoundError: No module named 'traceback'"
I'm trying to minimize a docker container that uses python and I am getting an error. My Dockerfile looks like this:
[code]

When I run the container I get the error:
[code]

The command I am using for building the slim container is:
[code]

I am new to this project so I am not sure if this issue related to docker-slim. But I would be really happy I could get some help because the results amazing.

[2020-09-02 15:17] kcq commented on #162
Is it your complete Dockerfile @jurgonaut ? Is it just one RUN instruction (and FROM)? This looks like a custom base image... Do you have another image with your application code where you use this custom base image?

[2020-09-02 16:07] jurgonaut commented on #162
Yes this is all. There is also a COPY which copies a simple python script to test if all the packages are installed. The python script only has a few imports. The base image is an official AWS image. What do you suggest, will it work with another base image?

[2020-09-03 01:10] kcq commented on #162
@jurgonaut  is that COPY instruction in the same Dockerfile? Do you set the ENTRYPOINT and/or CMD instructions? What do they look like if you do? If not, how do you invoke your simple python script in the container?

[2020-09-03 07:45] jurgonaut commented on #162
@kcq
This is the rest of the Dockerfile
[code]
The file entry.sh content is:
[code]
And test.py content is:
[code]

[2020-09-06 06:56] openedhardware commented on #159
Hi, @kcq

Any good news here?

[2020-09-09 15:09] kcq commented on #159
it's taking a bit longer, but we'll definitely get there :)

[2020-09-09 17:45] snahor opened #163 "Missing files"
I have a legacy python app which uses `celery==3.1.26.post2` and the official image `python:2.7.18-slim.buster`.

When I run `docker-slim --http-probe=false my/image` it goes from ~180MB to ~49MB, that's cool. But there are some celery files missing, in my case `/usr/.../celery/worker/strategy.py`. The app code is copied to `/app/tasks`.

Then I tried building an image using `python:3.8.5-slim-bus

[2020-09-18 06:44] openedhardware commented on #159
Hello, mate.
Any update? @kcq

[2020-10-11 11:43] openedhardware commented on #159
Hi, @kcq

Any update here?

[2020-11-04 21:36] openedhardware commented on #159
@kcq

Still waiting for your update... 🙏

[2020-11-08 09:40] arcoyk opened #165 "cacert.pem is not found after docker-slim"
Hi

Thank you for the great repo.

I'm trying to build an image of [gensim](https://github.com/RaRe-Technologies/gensim) server. It seems like docker-slim deletes necessary file(s).

# Repo for reproduction
here: https://github.com/arcoyk/flask-gensim-cacert

# Dockerfile
[code]

# Error
[code]

this error occurs on...
https://github.com/python/cpython/blob/41761933c1c30bb6003b65eef1ba23a83db4eae4

[2020-11-12 21:25] kcq commented on #165
Thanks for the detailed repro information @arcoyk ! It's super helpful! looking into it... and will have an update soon

[2020-11-13 08:36] kcq commented on #165
There's a couple of options...

With the Dockerfile you have you can use the --include-path flag to make sure the cacert.pem file is included:
`docker-slim build --include-path /usr/local/lib/python3.7/dist-packages/certifi/cacert.pem flask-image`

Another option is to use an older debian distro:
[code]

[2020-11-13 13:46] arcoyk commented on #165
Confirmed both of them works! Thank you again for the super great repo!

[2020-11-13 13:46] #165 closed

[2020-12-07 01:53] coanor opened #170 "Chaos input when pressed some comb-key"
I'm using Iterm2 on Mac(10.14.6). When Pressing some comb-key like left+up, the UI display(occasionally) like this:

[code]

I have to use `ctrl + l` to clean the chaos output, then I get the expected display. Is this a bug(maybe a `go-prompt` package bug)? I think frequently pressing `left` and `up` is ok to edit exists inputs, but it's too easy to press them at the same time, then the display cr

[2020-12-08 16:41] x-private-one commented on #170
@coanor it is possible that it's related to the `go-prompt` package... Silly question... what do you mean by the `up` key? Do you mean left `option` key?

[2020-12-08 18:28] kcq commented on #170
@coanor it is possible that it's related to the go-prompt package... Silly question... what do you mean by the up key? Do you mean left option key?

[2020-12-09 19:32] kcq commented on #170
Looks like we have a go-prompt bug report for this behavior in iterm2: https://github.com/c-bata/go-prompt/issues/213

[2020-12-10 08:41] fulviodan commented on #106
hello, I'm having the same problem when the image is minified with docker-slim? Are there any news on this point? Thanks

[2020-12-11 10:50] ryands17 commented on #150
@kcq 👋
It works when adding `--include-path` for `node-gyp` but in this case, are there any other libs that would need to be added in this case or this is just the exception?

[2020-12-11 19:42] kcq commented on #150
that should be it and there's actually a fix for it in `master`, so you won't need to using this `--include-path` trick with the next release.

[2020-12-14 18:07] kcq commented on #159
sorry it's taking so long... reproducing the condition is tricky... still working on it (i'll try to add a few more changes)

[2020-12-14 19:15] openedhardware commented on #159
Well, just clone the test docker slim project and build & slimify?
[code]

Easy enough, isn't it? 😄

[2020-12-30 11:20] chasewalden opened #172 "Images without CMD and/or ENTRYPOINT panic"
Expected Behavior
=================

[code]

Does not panic. If a `--cmd` is supplied, it should satisfy the Inspector, otherwise, a sensible error should be produced.

---
Actual Behavior
=================

[code]

---
Steps to Reproduce the Problem
===============================

  1. `docker pull k8s.gcr.io/etcd:3.4.13-0`
  2. `docker-slim build --target k8s.gcr.io/etcd:3.4.13-0 --cmd 'etcd'`

[2021-01-12 08:53] kcq commented on #172
@chasewalden thanks for the repro info! Step 3 is my favorite :-) Still trying to repro the crash (no luck so far). There's an extra entrypoint/cmd check in master if you'd like to see if it help.

Do you mind running `docker-slim` with the debug flag (`docker-slim --debug build --target k8s.gcr.io/etcd:3.4.13-0 --cmd 'etcd'`) and sharing the output?

[2021-01-13 07:14] kcq commented on #159
With this repro the `docker-slim build` command fails because the app in the container expects the `/data` directory to be there and it's not because it's not mounted in the temporary container.

Here's the error snippet from the container logs:

[code]

Because the app in the container exits/terminates early a part part of the application doesn't get to run, so the minified container image doesn'

[2021-01-13 07:19] openedhardware commented on #159
Boom! That's a piece of great news!

Yeah, let me try with `--mount` flag quickly.

Thanks a lot! 🎉

[2021-01-13 08:10] openedhardware commented on #159
Yes, it works! No error messages!

Just curious why `$(pwd)` is needed in the value of `--mount` flag?

Cheers!

[2021-01-14 02:02] kcq commented on #159
`$(pwd)` is specific to my test environment. I had my `data` directory where I was running the commands (there's no `/data` (no root `data` directory) on my test system). If you do have `/data` on your system then `--mount /data:/data` with `docker-slim build` might also work. It might still fail with Mac OS where Docker is doing extra magic to expose the local Mac directories to the Docker daemon

[2021-01-14 05:10] #159 closed

[2021-01-14 06:41] openedhardware commented on #152
@kcq

Any idea here?

We are using gitlab CI to build and deploy the docker images automatically.
Currently using buildx to build the arm images, but couldn't use docker-slim on the gitlab CI! 🙏

[2021-01-25 10:11] #158 closed

[2021-01-25 10:58] openedhardware commented on #82
@kcq
Any update here?

I have a same issue.. My container should run in `host` mode, but it fails to build:
[code]

[2021-01-26 08:15] openedhardware opened #175 "docker-slim build: support `--network=host`"
I have a docker container to download a json object from the local server:

Here is a simple code:
[code]

Of course, `http://0.0.0.0:1880/flows` returns a json object, and I can parse it to download the the tar.xz file:

[code]

But `docker-slim build` command displays an error that it cannot access `0.0.0.0:1880`:
[code]

I even tried with `--network=host` option, but says another error:
[code]

[2021-01-28 02:32] macosupdate opened #176 "not found in PATH"
This is a great tool, I use it a lot in production.
With web apps I use it very well. But for non-web applications I sometimes get errors. This is an application I built with no success
I use this repo to build docker https://github.com/evait-security/docker-multitor

This is the command I use
`build --target multitor:latest --http-probe false --include-path /lib/ld-musl-x86_64.so.1 --include-path

[2021-01-29 17:55] kcq commented on #175
The app code should be `r = requests.get('http://127.0.0.1:1880/flows')`.

The latest set of enhancements addresses this condition. There'll be a new release soon.

[2021-01-29 22:43] kcq commented on #172
@chasewalden do you mind trying the new release to see if you get the same behavior https://github.com/docker-slim/docker-slim/releases/tag/1.34.0

[2021-01-29 22:43] kcq commented on #175
try using the new release https://github.com/docker-slim/docker-slim/releases/tag/1.34.0

[2021-01-30 04:25] #133 closed

[2021-01-30 09:01] kcq commented on #176
working on a repro... it's a pretty cool project though the loosely coupled collection of processes and lots of shell scripts makes it fun :)

[2021-01-30 09:31] openedhardware commented on #175
Yeah, it works!

[2021-01-30 09:31] #175 closed

[2021-01-30 20:07] x-private-one commented on #175
cool

[2021-01-30 20:07] kcq commented on #175
cool

[2021-02-02 06:37] openedhardware opened #177 "`channel.NewCommandClient: NewClient error = wait timeout` on Gitlab CI"
I have been pulling my hairs out to get docker-slim working on gitlab CI.
Here is my .gitlab-ci.yml file:
[code]

But it fails to build. Output is:
[code]

Using the latest 1.34.0.

Any idea to fix this issue?

Cheers.

[2021-02-02 11:55] kcq commented on #177
Using `--network=host` in a `dind` environment like Gitlab CI is an interesting combination... Are you able to run your image on its own with `--network=host` in Gitlab? How do you use the host network in the target image you have?

`docker-slim` also needs to be able to talk to the Docker daemon. By default, it happens using the Docker socket, but in the `dind` environments it's not always availa

[2021-02-04 08:06] openedhardware commented on #177
Volume mount issue - https://gitlab.com/gitlab-org/gitlab-foss/-/issues/41227

[2021-02-04 08:06] #177 closed

[2021-02-06 18:42] deepaerial commented on #101
I had similar problem with alpine linux image. Installing `ca-certificates` helped me to solve this issue.

[2021-02-07 11:47] aymond opened #178 "SensorError Fanotify function not implemented"
Expected Behavior
=================

Call docker-slim and receive a slimified image

---
Actual Behavior
=================

[code]

---
Steps to Reproduce the Problem
===============================

1. Have image locally
[code]

2. Execute `docker-slim --log-level debug --log-format json --log slim.log build discordbot`

[code]

---
Specifications
=================
[code]
[code]

[2021-02-08 09:11] kcq commented on #178
Looks like FANOTIFY isn't (fully) implemented in the linux version you have running on Windows. Supporting WSL on Windows is on the todo list though I'm still exploring demand for it. Not having a Windows machine to test it doesn't help either :-) Are you running WSL2? Do you have the latest possible version of the linux kernel installed?

[2021-02-09 07:02] aymond commented on #178
Thanks. I also have an Ubuntu workstation, and everything is working fine.

I installed the latest Microsoft standard kernel for WSL2,  and still receive the same error. I will continue using native Ubuntu and wait for WSL2 to support fanotify

[code]

[code]

[2021-02-10 09:11] kcq commented on #178
Just to double check... what do you see when you run `wsl -l -v`

[2021-02-10 09:29] openedhardware opened #179 "Download any file with Python requests library"
I have a python code that reads an environment variable and downloads a file from the cloud storage:
[code]
If `MODEL` environment variable exists, it downloads from our S3 bucket.

But once slimified, it doesn't work saying that the device or resource is busy:
[code]

Any idea why docker-slim doesn't suport random file download to the mounted volume?

You can easily test on your end by cloning th

[2021-02-12 09:08] kcq commented on #179
Thanks for the repro project and the repro instructions @openedhardware ! I think this failure is due to a missing env var when you run `docker-slim`. Adding `--env MODEL='ssd_mobilenet_v1_coco_2018_01_28'` to the `build` command did the trick for me. Without that env var the `url` value in the app ends up being invalid, so the `requests.get(url)` call in the app fails when `docker-slim` executes

[2021-02-12 11:02] openedhardware commented on #179
@kcq
Yeah, it worked with a constant variable when `docker-slim build`.
But that environment variable will be changed depending on the condition.

How can we support various variables?

Thanks for your effort!

Cheers.

[2021-02-13 02:13] kcq commented on #179
There a few options... The value of MODEL needs to reference something you have. For example, it can be a test model file name that's always there, so setting it to anything as long the generated URL points something on S3 should do the trick. Option two is to use an environment variable to set the MODEL env var for `docker-slim` (e.g., `docker-slim build --http-probe=false --env MODEL=$YOUR_CURRE

[2021-02-14 12:46] aymond commented on #178
[code]

[2021-02-18 07:46] TheSHEEEP opened #180 "Building in a wrong folder results in weird errors about unrelated programs"
Expected Behavior
=================

When doing a build in when specifying a wrong relative path to a Dockerfile, the error output should say something about that file not being found instead of a totally unrelated program.

This is the command that I used:
`sudo docker-slim build --http-probe=false --dockerfile containers/base/Dockerfile --tag lalalala.dkr.ecr.us-east-2.amazonaws.com/smalltest --

[2021-02-18 10:48] TheSHEEEP opened #181 "Unable to run image due to standard_init_linux.go error"
Expected Behavior
=================

When running an image created with docker-slim, it should actually run the image and not output an error.

---
Actual Behavior
=================

When trying to run the image created with docker-slim:

Searching for this error, the usual case for its appearance seems to be that the entrypoint script cannot be found.
However, I checked the actual files inside th

[2021-02-21 08:00] kcq commented on #180
@TheSHEEEP great idea! This will go well with the other build related enhancements... It'll be there in the next release.

[2021-02-21 09:08] kcq commented on #181
@TheSHEEEP is it possible to share a bit more about your container image? Why are you mounting docker.sock and docker? What's in util/dockerslim_execfile? What are you doing with ssh there?

[2021-02-21 12:48] TheSHEEEP commented on #181
I'm mounting docker.sock and docker in order to use Docker-out-of-Docker (instead of Docker-in-Docker, due to the immense amount it saves on the image size).

util/dockerslim_execfile just contains a few tests (the idea was to make docker-slim think those files are being used so it won't delete them):
[code]

setup_sshd is just a script that opens an SSH server and listens for incoming connections

[2021-02-25 00:22] #179 closed

[2021-03-01 07:30] kusumkappdirect commented on #134
any update here?

[2021-03-01 22:10] mthalman opened #182 "Incorrect generated seccomp profile for ASP.NET Core app"
Expected Behavior
=================
Running `docker-slim build` on an ASP.NET Core application should produce a seccomp profile that can be successfully used when running the container.

---
Actual Behavior
=================
Attempting to use the generated seccomp profile results in a failure to start the container.  This is because the syscalls contained in the seccomp profile is missing `fstatfs

[2021-03-01 22:18] kcq commented on #182
@mthalman I'll try to repro the condition. Had a few challeges with the dotnet samples... I might need your help if you don't mind :) What's your preferred way to communicate?

[2021-03-01 22:25] mthalman commented on #182
Twitter?  [@matt_tman](https://twitter.com/matt_tman)

[2021-03-02 06:26] openedhardware opened #183 "Support `--runtime` parameter when building?"
Normally, people use `docker run --runtime=nvidia` to enable CUDA inside the containers..
(Or `--gpus all`)

How can we enable these parameters while building with docker-slim build command?

[2021-03-05 07:49] kcq commented on #183
`--cro-runtime` is the `build` command parameter for it (will be included in the next release; already in the repo)

[2021-03-07 00:27] ChaikaBogdan commented on #134
So, I made a little spike about possible slimming of [cypress/included](https://github.com/cypress-io/cypress-docker-images/tree/master/included/6.6.0)

Its looks like, what docker-slim is too aggressively removing everything related to Node and Cypres from the target image.
I was able to get to some "almost working" state with:

`./docker-slim build --http-probe=false --include-shell --include-pa

[2021-03-09 00:55] ns-wkso opened #184 "Sticky bits aren't preserved"
Expected Behavior
=================
/usr/bin/sudo has same permission/sticky bit as fat image.

---
Actual Behavior
=================
Sticky bit missing on sudo, rendering it useless.

---
Steps to Reproduce the Problem
===============================
I'm trying to setup an ubuntu container people can use for development.   But the slimmed image's /usr/bin/sudo does not have the sticky bit set.  I

[2021-03-09 06:13] kcq commented on #184
Thanks for reporting the problem @ns-wkso ! Working on reproducing the condition...

[2021-03-16 23:05] Overcolor commented on #181
I have the same problem, here is a simple example:
Dockerfile:
[code]
Build:
`docker build -t simpletest:v1 .`
Output simpletest:v1:
`This is a test`
Dockerslim:
`docker-slim b --target simpletest:v1 --http-probe=false --tag simpletest:slim`
Output simpletest:slim:
`standard_init_linux.go:219: exec user process caused: no such file or directory`

Both files (bash and test.sh) are in the image, but

[2021-03-19 00:36] ns-wkso commented on #184
Just wanted to follow up to see if you can reproduce the problem and if you need anything from me. Thanks in advance!

[2021-03-28 18:05] kcq commented on #184
Looks like the sticky bit does get preserved, but the setuid bit isn't. I assume that's what you'd like to keep with the `sudo` executable. This behavior is related to how the docker copy operation works ( https://github.com/moby/moby/issues/37830 ). Looking for a workaround. Also adding an ability to set the extra bits (setuid, setgid, and sticky bit; not possible yet) in addition to the permissi

[2021-03-29 10:29] openedhardware commented on #183
Any update here? @kcq

[2021-04-01 13:40] michabbb opened #188 "php container not created: dslim/docker-slim:1.32.0 vs latest (1.34.0)"
hi there,

pardon, i didn´t use dslim for quit a while. i created my slim PHP container in the past with dslim:1.32.0 which worked nice.
but with latest. the slim does *NOT* get created ;(

cmd 1.32.0:

`docker run --rm -v $HOME/docker/images/php/7.4:/app -w /app -v /var/run/docker.sock:/var/run/docker.sock dslim/docker-slim:1.32.0 build --http-probe --dockerfile Dockerfile --include-exe --include

[2021-04-04 23:49] kcq commented on #188
Thanks for reporting this! Trying to repro...

[2021-04-05 06:05] kcq commented on #188
Thanks for providing the command output for both versions! It looks like with the latest version `docker-slim` terminates when the http probes fail. It happens by default, but you can change this behavior using the `--http-probe-exit-on-failure` flag (set it to false: `--http-probe-exit-on-failure=false`). Another option is to disable http probing completely (`--http-probe=false`). PHP containers

[2021-04-05 09:32] michabbb commented on #188
@kcq thanks a lot for taking your time looking into this, i will test it and let you know, thanks a lot !!

[2021-04-05 10:22] michabbb commented on #188
@kcq [the output](https://gist.github.com/michabbb/d0cc557bee5feef51eca6fec59225bea) is much less now, but the new image has been created. thanks ! 👍

[2021-04-05 10:22] #188 closed

[2021-04-05 10:24] michabbb commented on #188
just a notice: the "docker:latest" seems not to be up2date, cause i get this notice:

[2021-04-12 07:57] kcq commented on #170
closing this for now given that it's related to an upstream library behavior/bug

[2021-04-12 07:57] #170 closed

[2021-04-12 07:57] #140 closed

[2021-04-12 08:00] #139 closed

[2021-04-12 08:03] kcq commented on #91
moving this to WISHLIST.md

[2021-04-12 08:03] #91 closed

[2021-04-12 08:04] kcq commented on #99
moving this to WISHLIST.md

[2021-04-12 08:04] #99 closed

[2021-04-12 08:05] kcq commented on #77
moving this to WISHLIST.md

[2021-04-12 08:05] #77 closed

[2021-04-30 19:41] kcq commented on #184
the latest release (1.35.1) should address the issue... @ns-wkso do you mind double checking if it's working for you?

[2021-05-11 23:27] ProfessorManhattan opened #193 "How to Use include-path-file"
Is there any documentation available on how to use `--include-path-file`? Do I just have a txt file with a list of paths to preserve right next to the Dockerfile?

[2021-05-12 02:53] ProfessorManhattan opened #194 "Cannot Add Multiple Tags"
Expected Behavior
=================

DockerSlim should allow you to pass multiple image tags.

---
Actual Behavior
=================

You can only assign one tag. If you want to tag something with two tags then you have to run the docker-slim command twice with the two different tags.

[2021-05-12 02:59] kcq commented on #193
@ProfessorManhattan yes, put a list of files or directories you want to keep. Make sure you specify absolute paths. For example:

[code]

In this example I'm including the `/etc` directory and the `/lib/lsb/init-functions.d/50-ubuntu-logging` file in my optimized image.

[2021-05-12 03:06] kcq commented on #194
@ProfessorManhattan It's assumed if you need additional tags you'd use `docker tag` on the minified image produced by the `docker-slim build` command. Do you mind sharing a bit more about your use case? Curious to learn why you need multiple tags.

Adding support for more than one custom tag should be available pretty soon.

[2021-05-14 17:45] ProfessorManhattan opened #195 "GitLab CI DIND: timeout error"
Expected Behavior
=================

docker-slim should run without error when run in a GitLab CI environment

---
Actual Behavior
=================

docker-slim fails with timeout error.

---
Steps to Reproduce the Problem
===============================

  1. Create a GitLab CI project with a Dockerfile in it and the following `.gitlab-ci.yml` file:

[code]
  2. Trigger the CI build. Docker comm

[2021-05-14 17:54] ProfessorManhattan commented on #194
Hey @kcq -- thanks, I didn't think of that. `docker build` supports multiple tags though. My use case is for tagging something as :slim and :0.0.0-slim

[2021-05-14 17:54] #194 closed

[2021-05-14 17:56] ProfessorManhattan commented on #193
thanks @kcq -- I'm still unsure of what the difference between --include-path and --include-path-file is.

[2021-05-15 16:24] kcq commented on #193
@ProfessorManhattan  the `--include-path-file` is a good option if you have a lot of includes and you don't want to have separate `--include-path` flags for each of them.

Here are two ways to accomplish the same results:

`docker-slim build --include-path /etc --include-path /lib/lsb/init-functions.d/50-ubuntu-logging TARGET_IMAGE`

`docker-slim build --include-path-file LOCAL-FILE-WITH-INCLUDES

[2021-05-15 16:36] kcq commented on #195
Thanks for the repro details @ProfessorManhattan ! It's super useful. Looks like the main process can't connect to the temporary container it created. It's possible that the target container crashed. Do you mind adding the `--show-clogs` build command flag to see the logs from the temporary container that gets created. Also can you try using the 1.35.2 version of docker-slim.

[2021-05-15 21:44] kcq commented on #194
This ability is already in master and it'll be there in the next released binary too. Here's an example where the optimized nginx image ends up with 3 different tags: `docker-slim build --tag nginx:slim --tag nginx-minified --tag nginx-min:slim nginx`

[2021-05-19 19:28] #184 closed

[2021-05-22 04:06] ProfessorManhattan commented on #195
Hey @kcq -- thanks for following up. I added `--show-clogs` and upgraded to 1.35.2 but that did not work.

Things I have tried:

* Using the latest docker image that matches the latest docker image service (20.10.6)
* TLS enabled and disabled
* With and without specifying the entrypoint as ""
* With and without compressing docker-slim with upx

Here's the build with TLS enabled:

https://gitlab.co

[2021-05-22 04:21] ProfessorManhattan opened #197 "Including / as a path causes image to be 3X Bigger"
Expected/Actual Behavior
=================

When I include / as a path, I would expect the container to be the same size. I tested this because I noticed that even only including a couple paths causes the image to grow significantly.

---
Steps to Reproduce the Problem
===============================
`--http-probe=false --exec 'docker --version' --preserve-path-file 'paths.txt'` and `/` included i

[2021-06-04 03:55] ProfessorManhattan commented on #195
Hey @kcq -- did the logs with `--show-clogs` output anything useful?

[2021-06-06 20:44] deepanprabhu commented on #165
so the above approach did not work for me,
I ended up adding the certificate to docker image and docker slim had no issues,
![image](https://user-images.githubusercontent.com/11621168/120939521-4e594280-c6cd-11eb-9c7e-5c5e09479685.png)

[2021-06-11 07:14] SherlockHua1995 opened #199 "I am trying to compress the existed image using docker-slim BUT the output image is bigger than the original one.."
Expected Behavior
=================
I am trying to compress the existed image using docker-slim

---
Actual Behavior
=================
BUT the output image is bigger than the original image.

---
Steps to Reproduce the Problem
===============================
  1.install the docker-slim
  2.docker-slim build --http-probe=false REP:TAG --include-path path1 --include-path2

---
Specifications
=======

[2021-06-14 16:46] beltran-rubo opened #201 "open slim.report.json: permission denied with version 1.36"
Expected Behavior
=================
 No error

---
Actual Behavior
=================

Using docker-slim version linux|Transformer|1.35.0|6eca3ad331720c31a7e398ffaf002a896dc9a70a|2021-04-15_02:48:03AM -> works well

Using docker-slim version linux|Transformer|1.36.0|5dad378523ed9d53f6e5de21f6b98f07da4f7d59|2021-06-13_02:46:04AM -> ERROR below

time="2021-06-14T16:40:34Z" level=fatal msg="docker-sli

[2021-06-14 17:01] kcq commented on #201
@beltran-rubo thank you for opening the issue! Do you mind sharing a bit more about your setup? Where do you have the `docker-slim` executable and where do you run your `docker-slim` command?

The `slim.report.json` files is the the report file for the command you run and it gets saved in the current working directory where you are when you run the `docker-slim` command. Saving the report file may

[2021-06-15 07:53] beltran-rubo commented on #201
I have the 'docker-slim' & 'docker-slim-sensor' binaries in my home directly: "~/docker-slim build ...".

[code]

It fails if I execute the 'docker-slim' command from a directory with root privileges: 'cd /var && ~/docker-slim build ...'

[2021-06-16 18:10] naanunaane opened #202 "--tag not working"
Expected Behavior
=================
Using the --tag for the docker-slim build command is supposed to result in the optimised image being tagged with that name

---
Actual Behavior
=================
The final tagged image is still <original_image_name.slim>:latest

---
Steps to Reproduce the Problem
===============================

  1. Use the command to build an optimised image:
  docker-slim bui

[2021-06-17 00:06] ProfessorManhattan commented on #177
Hey @openedhardware - can you elaborate on the solution or provide a link to a working example?

[2021-06-17 01:09] ProfessorManhattan opened #203 "GitLab CI Example Does Not Work"
Expected Behavior
=================

The example in the documentation should work on GitLab CI (shared runners - i.e. gitlab.com runners) and there should be a sample .gitlab-ci.yml file provided somewhere.

---
Actual Behavior
=================

Take the following `.gitlab-ci.yml` as an example of a minimal reproducible example:

**Example GitLab CI file**

[code]

Running the sample above yields

[2021-06-18 02:16] kcq commented on #203
@ProfessorManhattan Thank you for reporting the issue! This is actually not Gitlab CI related. There's a bug in the default setting for the `continue-after` flag and that's causing the error you are getting. For your example you need to set mode to `exec` explicitly: `docker run -e DOCKER_HOST=tcp://$(grep docker /etc/hosts | cut -f1):2375 dslim/docker-slim --in-container build --http-probe=false

[2021-06-20 03:50] ProfessorManhattan commented on #203
Thanks @kcq -- awesome.

[2021-06-20 19:03] kcq commented on #201
@beltran-rubo Thanks for the additional context! `slim.report.json` gets saved in the current working directory by default. You can pick a different location using the global `--report` flag like this: `docker-slim --report your/custom/path/to/slim.report.json build your-image`.

In the next release I'll add an enhancement to use the temp directory if saving to the current directory fails.

[2021-06-20 20:07] x-private-one commented on #202
still trying to repro...

[2021-06-20 20:07] kcq commented on #202
still trying to repro it

[2021-06-21 04:16] kcq commented on #203
@ProfessorManhattan the 1.36.1 version should have that enhancement - https://github.com/docker-slim/docker-slim/releases/tag/1.36.1

[2021-06-21 04:17] kcq commented on #202
@naanunaane do you mind trying 1.36.1 to see if we can get additional info about what's going on (  https://github.com/docker-slim/docker-slim/releases/tag/1.36.1 )

[2021-06-21 04:18] kcq commented on #201
@beltran-rubo  the 1.36.1 version should have the command report location enhancement... do you mind trying it - https://github.com/docker-slim/docker-slim/releases/tag/1.36.1

[2021-06-21 05:58] beltran-rubo commented on #201
Thanks for the quick turnaround, I can confirm this is fixed in 1.36.1.

[2021-06-21 05:58] #201 closed

[2021-06-21 11:09] naanunaane commented on #202
@kcq, this worked after I updated to the 1.36.1 version. Thanks.

[2021-06-21 11:09] #202 closed

[2021-06-21 16:05] kcq commented on #201
nice!

[2021-06-21 16:05] kcq commented on #202
nice!

[2021-06-24 15:28] bt-nia opened #206 "docker-slim --entrypoint does not correctly replace the entrypoint"
Expected Behavior
=================
`docker-slim build --target docker pull amd64/ubuntu --tag ubuntu:slim --pull --http-probe=false --entrypoint='whoami'`

runs `whoami` in the container like when using `--cmd`:
[code]

---
Actual Behavior
=================
The `whoami` call is run with an additional parameter, which makes it print the usage output:

[code]
From an other container image I was abl

[2021-06-24 15:44] bt-nia opened #207 "Permission error when using --cmd or --entrypoint instead of --exec. Ideas highly appreciated"
Expected Behavior
=================
I'm running a daemon in a docker container, so I need to run it for a longer time and then tell docker-slim when analysis is done (e.g. via enter or signal).
Running
`docker-slim build --target IMAGE --tag IMAGE:0.0.5-slim --http-probe=false --exec='my daemon'`
Executes the command correctly and it does not crash with the permission issue, but my daemon never ex

[2021-06-30 19:33] jgibson2 commented on #182
@kcq I am having the same issue. Version output:
[code]

In my case, `docker-slim build` was not picking up the `fstatfs` or `chmod` calls, but adding those calls allowed the container to run.

[2021-06-30 19:41] jgibson2 commented on #182
Steps to reproduce:
[code]

[2021-07-07 15:27] yuuuxt opened #211 "in the carbon example, /node_modules/next/dist needs to be explicitly included"
Expected Behavior
=================

the [carbon example](https://github.com/docker-slim/examples/tree/master/3rdparty/carbon-now-sh) isn't working as expected.

according to [this](https://github.com/docker-slim/docker-slim/issues/150#issuecomment-650852974) comment, I thought I don't need to explicitly include (part of) `node_modules`.

---
Actual Behavior
=================

I need to have `/nod

[2021-07-07 16:31] kcq commented on #211
Thanks for opening the issue @yuuuxt ! Curious if you customized your carbon app image (`yuuuxt/carbon:4.8.1`) in anyway or did you just build it with the Dockerfile from the carbon repo?

[2021-07-08 00:45] yuuuxt commented on #211
Hi @kcq , thanks for the project and your reply! The `Dockerfile` is [here](https://github.com/yuuuxt/carbon-slim/blob/master/4.8.1/Dockerfile), I just used `git clone` instead of copying from context, I think they are alike?

[2021-07-08 13:27] afshinm opened #212 "Building in a privileged mode"
Expected Behavior
=================

`docker-slim build` supports `--privileged` mode, like `docker run`.

---
Actual Behavior
=================

`docker slim build` runs a container in a non-privileged mode which means `systemctl` and systemd services don't work, e.g.:

[code]

Any `systemctl` commands returns this error:

[code]

---
Steps to Reproduce the Problem
===============================

[2021-07-09 07:09] kcq commented on #212
Thank you for opening the issue @afshinm ! It's interesting because the temporary container that gets created is supposed to be privileged.

I tried to repro it and I got a slightly different output...

command:
`docker-slim build --target centos --http-probe=false --exec "systemctl status"`

output:
[code]

It looks like it's not happy that systemd is not PID 1, which happened because the `docker

[2021-07-09 10:16] afshinm commented on #212
@kcq oh I see, that actually makes sense. can I change the entrypoint/PID 1?

[2021-07-09 11:41] elliots opened #213 "docker-slim doesn't work on macos aarch64 (arm on m1) with an aarch64 docker image"
Expected Behavior
=================

Run docker-slim against an aarch64 docker image, it runs.

---
Actual Behavior
=================

Fails to run... log message:

[code]

The issue I think is that there is no arm build of docker-slim-sensor?

---
Steps to Reproduce the Problem
===============================

  1. install using brew (or zip)
  2. run docker-slim on an aarch64 image

---
Specific

[2021-07-11 19:01] kcq commented on #213
Thank you @elliots for opening the issue! Investigating... will update soon.

[2021-07-12 04:35] kcq commented on #213
@elliots Wonder about the repro steps... You mention downloading zip as a potential way to repro. The mac zip on the github page shouldn't work on M1 because the main app isn't built for darwin arm64 and the sensor is not built for linux arm64. Curious what kind of error message(s) you got trying to use the downloaded zip.

The brew installer seems to have a build for M1, but the formula doesn't b

[2021-07-12 05:08] elliots commented on #213
I tried both brew and zip, its possible it was a different error for the sensor with the zip and I didn't notice (x86 docker-slim will work fine though with rosetta)

The brew installed version actually is aarch64, which means that isn't the issue.

[code]

But when I run I get

[code]

Some other things i just tried:
 - moving the brew installed binaries to /usr/local/bin
 - adding homebrew dir (

[2021-07-12 05:54] kcq commented on #213
That's a lot of useful information... Thank you for confirming the sensor architecture @elliots ! There's a chance that your local Go version is different from the Go version used to compile the sensor. What version of Go do you have installed on your machine?

[2021-07-12 06:04] elliots commented on #213
[code]

[2021-07-12 07:50] kcq commented on #213
Thanks @elliots ! Can you also check the Go compiler version for the `docker-slim-sensor` you got with brew? `go version ./docker-slim-sensor` should do it (`strings ./docker-slim | grep 'go1\.'` might do it too).

[2021-07-12 08:00] elliots commented on #213
[code]

[2021-07-14 19:16] kcq commented on #213
Thanks @elliots ! The old(er) Go version theory doesn't seem like the reason... Let's try something different then :) I'll create an M1 build to see if that works.

[2021-07-16 20:41] kcq commented on #213
@elliots try using this https://downloads.dockerslim.com/releases/1.36.1/dist_mac_m1.zip Let me know if it work or how it fails

[2021-07-17 00:04] kcq commented on #212
@afshinm it's not possible at this point in time, but it'll make an interesting new option/feature :)

[2021-07-19 02:56] elliots commented on #213
That build worked.

[2021-07-19 16:29] ryanobjc commented on #213
I've been having the same problem, and alas this build did not work for me, here is my output:

ryan@macbookprom1 dist_mac_m1 % ./docker-slim build --target rn:rust --tag rn:rust1 --http-probe=false
docker-slim: message='join the Gitter channel to ask questions or to share your feedback' info='https://gitter.im/docker-slim/community'
docker-slim: message='join the Discord server to ask questions o

[2021-07-19 16:50] kcq commented on #213
@ryanobjc it's possible `docker-slim` is not picking up the right sensor volume and an older sensor version gets loaded. Try deleting all sensor volumes. You can find the sensor volumes with the `docker volume ls` command. Then you'll need to delete all volumes that start with `docker-slim-sensor`.

[2021-07-19 19:24] ryanobjc commented on #213
Oh yes that was it, now it works, thanks :-)

[2021-07-21 02:12] kcq commented on #213
The volume detection bug should've been addressed already... need to investigate why it's still happening.

[2021-07-21 15:53] ralight opened #214 "docker-slim-sensor and traced executable never finish running on armhf"
Expected Behavior
=================

When I run `docker-slim build ...` on an armhf host (Raspberry Pi in this case)... it works :)

---
Actual Behavior
=================

I see that docker-slim-sensor and the executable being traced take up a large percentage of CPU time, and never finish executing. In my example one of the first processes to run is `openssl rand 32` which takes about 3ms on my P

[2021-08-10 12:15] alterEgo123 opened #216 "Running supervisor inside container fails"
Expected Behavior
=================
Run supervisor inside container.

---
Actual Behavior
=================
Container fails with error `Error: Invalid user name root`

---
Steps to Reproduce the Problem
===============================

  1. Run any process using supervisor.

---
Specifications
=================
  - Version: 1.0
  - Platform: Ubuntu 18.04

[2021-08-10 18:56] kcq opened #217 "Minified image doesn't retain the platform information from the original image"
From Fredrik Svensson on Slack:

[code]

[2021-09-01 07:33] akiradeveloper opened #218 "xray fails in second execution (when the first execution is aborted)"
Expected Behavior
=================

xray should complete

---
Actual Behavior
=================

xray fails execution.

---
Steps to Reproduce the Problem
===============================

  1. Run xray a docker image
  1. Kill the process during xray processing
  1. Rerun xray

I reproduced this behavior for two different images and they differs in the errors. It seems to me that the xray tries t

[2021-09-01 15:55] kcq commented on #218
Thank you for the issue @akiradeveloper ! Do you mind checking what you have in the state directory for that xray execution? The state data should be under `/tmp/docker-slim-state/.docker-slim-state` if you installed the docker-slim executable to one of the standard bin directories (otherwise it's in `.dockers-slim-state` in the same directory where you have the main `docker-slim` executable). The

[2021-09-02 01:23] kcq commented on #218
this enhancement ( https://github.com/docker-slim/docker-slim/commit/62e140d86ec90407ca9819fa402b4289f035acb6 ) should address the problem and it'll be available in the next release

[2021-09-14 06:32] ProfessorManhattan opened #221 "Using globs with --include-path"
Hey, I'm using the latest version of `docker-slim` and noticed that it would be nice if we could specify globs with `--include-path`. Is this possible?

I'd like to be able to handle updates to `/usr/lib/*` files since they are often required by binaries.

[2021-09-15 15:16] justinzhf opened #222 "docker-slim latest version seems not working properly with the java_standard example"
Expected Behavior
=================
Run the latest docker-slim(1.36.4) with the java_standard example(https://github.com/docker-slim/examples/tree/master/java_standard). Expect that it could run successfully.

---
Actual Behavior
=================
The http-probe step just fails. Then it causes the docker-slim to fail.

---
Steps to Reproduce the Problem
===============================
OS Debian. R

[2021-09-15 18:54] kcq commented on #222
thank you for catching the failure @justinzhf ! let me investigate a bit

[2021-09-15 18:56] kcq commented on #218
this should be addressed in the 1.36.4 release: https://github.com/docker-slim/docker-slim/releases/tag/1.36.4

[2021-09-15 18:56] #218 closed

[2021-09-15 18:59] kcq commented on #221
@ProfessorManhattan `--include-path` can point to a directory, so doing something like this should get the outcome you are looking for: `docker-slim build --include-path /usr/lib YOUR_IMAGE`

[2021-09-16 16:06] justinzhf commented on #222
Hi, @kcq thanks for your reply! Have you figured out the cause of the failure? If not, do you know if there exists a certain version that' able to slim the java application?

[2021-09-22 07:32] openedhardware commented on #217
Hi, @kcq

Any update here? We are having same issues as well! :)

[2021-09-23 10:21] #222 closed

[2021-09-25 05:18] slayer321 opened #224 "minified image falling with ModuleNotFoundError"
Expected Behavior
=================
I'm using [this](https://github.com/slayer321/rsvpapp) project and trying to minify the image and then run it . But when I'm changing the `.slim` image in the docker-compose file the project is falling with  `ModuleNotFoundError: No module named 'jinja2.ext' `  error.

---
Actual Behavior
=================
The project works fine when I am not using the `.slim` i

[2021-09-28 05:58] kcq commented on #224
@slayer321 thank you for opening the issue and providing the project link! How did you slim your app image? Do you mind sharing the command line you used for `docker-slim build`?

[2021-09-28 10:28] slayer321 commented on #224
The [project](https://github.com/slayer321/rsvpapp) I mention has the docker-compose and I'm using the image name `teamcloudyuga/rsvpapp:mooc` in it

When I run this docker-slim command
[code]
I'm getting `teamcloudyuga/rsvpapp.slim` image and when it is added in docker-compose the project is falling with `ModuleNotFoundError` .

docker-slim works with docker-compose right?

[2021-10-01 20:02] slimdevl opened #226 "docker-compose `service network alias` values are created"
Expected Behavior
=================

Service `alias` is populated in Networking setting of container Networking runtime when using `docker-compose` functionality.

It is common for docker-compose.yaml files to define a service, which references another `service name` (aka alias) in the same file. eg. In the example below, the alias reference is in the variable `GHOST_DATABASE_HOST=mariadb`

[code]

[2021-10-06 16:54] Scronkfinkle opened #228 "Container setup webpage fails to redirect during debloating"
I'm currently building a slimmed mediawiki image, and would like to run the initial setup within `docker-slim` so that it can access all the critical paths effectively, however for some reason, it is unable to handle the redirects from the installer.

Expected Behavior
=================

The installer for mediawiki runs as it normally would, and leaves me with a container that is initialized with

[2021-10-06 17:06] eharris128 opened #229 "Xray should support parsing an image's authors label & a buildpack image's maintainer label"
Expected Behavior
=================
1) rocker/rstudio has an author label. This author label should be aggregated into the maintainers field.
2) buildpacksio/pack has a `io.buildpacks.stack.maintainer` label. This maintainer label should be aggregated into the maintainers field.

---
Actual Behavior
=================
- Both of these labels are currently not aggregated into the maintainers field. R

[2021-10-07 20:52] kcq commented on #228
thank you for opening the issue @Scronkfinkle and thank you for the repro steps! need to do a bit of research with this one

[2021-10-27 17:36] thi747 opened #234 "Minified image curl error"
Expected Behavior
=================
As I run my image, it uses curl to fetch env file from git.
After download is complete, it runs java/jboss and serves 8080.

---
Actual Behavior
=================
When it tries to use curl I get:
curl: (77) error setting certificate verify locations:
  CAfile: /etc/pki/tls/certs/ca-bundle.crt
  CApath: none

After download fails, JBoss fails to start because it

[2021-10-28 15:52] sugatoray opened #235 "Getting an error while trying to minify an official ubuntu:20.04 or 18.04 image from docker-hub"
I am new to using docker-slim. I tried using docker-slim on ubuntu 20.04 and it worked with slimming down an nginx (official) docker image. But when I tried using the same technique on official image of ubuntu:20.04 or ubuntu:18.04, it threw an error. Is this quite common with ubuntu:20.04? Any help will be appreciated. Thank you.

Failure message With **ubuntu:20.04** image.

[code]

---
Specific

[2021-10-28 18:03] #235 closed, assigned to nobody

[2021-10-28 19:43] slimdevl opened #236 "Compose mode: cannot mount volume over existing file when file exists"
Expected Behavior
=================
Can mount a file on an existing container file when starting in compose mode.

---
Actual Behavior
=================
Crash with error:
[code]

---
Steps to Reproduce the Problem
===============================
See https://github.com/slimdevl/dslim-compose-vol-issue
---
Specifications
=================
  - Version: docker-slim version linux|Transformer|1.37.0|70c

[2021-11-04 18:13] thi747 commented on #234
I have tried again with base image (without the need to download the env file and turns out the jboss also won't come up as expected.
When booting it fails due to missing files:

Exception in thread "main" org.jboss.modules.ModuleLoadException: Error loading module from /opt/appsrv/EAP-7.1.5/modules/system/layers/base/sun/jdk/main/module.xml
	at org.jboss.modules.xml.ModuleXmlParser.parseModuleXml

[2021-11-04 23:39] kcq commented on #234
Thanks a lot for the additional info @thi747 ! Curious why you do `docker-slim build --target image--http-probe=false` instead of `docker-slim build --publish-port 8080:8080 --env ENV=prod --target image`, which would be closer to what you have with the `docker run` command.

[2021-11-05 09:17] ProfessorManhattan opened #238 "Examples and Tips & Tricks"
Hey, I love this product but I feel like I'm not utilizing it to its fullest. I have run into the problem where I want to include a binary in a build so I use something like `--include-path /usr/bin/jq`. However, it fails to run after compiling because `jq` requires extra libs. I find those libs out by running `ldd /usr/bin/jq` but its a very tedious process for something that could probably be au

[2021-11-05 09:20] ProfessorManhattan opened #239 "Read Config from YML File"
In some cases, I get these really long unwieldy build strings that are difficult to manage. Also, in many cases, there are parameters that are repeated across different builds (e.g. including `git` or `jq`). I was thinking it would be great if we could store our build config for each build in a YML file. Are there already plans to support this? If not, I was thinking about writing a supplementary

[2021-11-05 15:48] kcq commented on #238
The `--include-bin` and `--include-exe` should be useful with `jq`.

The `--include-bin /usr/bin/jq` param should include `/usr/bin/jq` and its binary dependencies (the shared objects jq imports), so you wouldn't need to explicitly add those by hand.

The `--include-exe jq` is similar to `--include-bin`, but it also allows you to specify just the executable name. When you do that it'll find the ex

[2021-11-05 20:42] kcq commented on #238
converting this issue to discussion...

[2021-11-05 20:44] #238 closed

[2021-11-05 20:49] kcq commented on #239
@ProfessorManhattan good timing for the question :) A couple of things are WIP... An ability to specify command parameters using a json file and an ability to run `docker-slim` as a server where you can make http calls with json payloads.

[2021-11-05 23:54] ProfessorManhattan commented on #239
Okay.. good to know.. another thing I'm looking to add is a way to test if
the fat and slim containers output the same logs if a the same command is
run on both containers.

Any ideas on how I should handle this in a way that could possibly benefit
the community?

On Fri, Nov 5, 2021, 4:49 PM Kyle Quest ***@***.***> wrote:

[2021-11-07 23:19] kcq commented on #239
One interesting way to do it is to extend the `run` command in `docker-slim` to have some kind of diff mode (e.g., `docker-slim run --mode diff --target image_one --target image_two`.

What kind of verification are you looking for? Raw output log compare or something more intelligent that would extra and/or understand certain things from the logs?

[2021-11-08 16:48] kcq commented on #236
should be addressed with the new 1.37.2 release ( https://github.com/docker-slim/docker-slim/releases/tag/1.37.2 )

[2021-11-08 21:16] eharris128 opened #242 "Top level README Open in Gitpod button does not work"
Expected Behavior
=================
-  I should be able to click on the Open in Gitpod button & have the prepared environment launch.

---
Actual Behavior
=================
- Clicking on Open in Gitpod lands the user on a `Something went wrong page`

---
Steps to Reproduce the Problem
===============================

  1. Click on the Open in Gitpod button
  2. (If you have signed in to Gitpod bef

[2021-11-08 23:48] mahalel opened #244 "Whenever I search for your project, I get pants."
Expected Behavior
=================
DDG/Google search for "docker slim"

Receive link to this project.

---
Actual Behavior
=================
Receive images of pants.

---
Steps to Reproduce the Problem
===============================
As above.

(On a more serious note, thank you for a cool project 👍 )

[2021-11-09 00:04] kcq commented on #244
@mahalel This is a known problem and we are exploring all possible options to fix it including eliminating all slim pants and bringing back cargo pants in style :-)

[2021-11-09 06:19] chenzx commented on #134
I'm using docker-slim to build an original docker image which uses nodejs & xvfb-run, it also reports:

[code]

The problem is: why can't i see the log output? In interactive mode there is.

[2021-11-09 18:53] thi747 commented on #234
That was because I didn't find easy info on how to do stuff... I followed you advice and needed to add --expose 8080 to that to avoid building error (was I right?) but after running this new slim image I got the same jboss error as before.

[2021-11-09 19:35] thi747 commented on #234
testing other options I got to a point using also --preserve-path --include-path='/opt/appsrv', trying to save java and jboss.
this way jboss goes up and netstat shows 8080 listening but even a local test gets connection refused....

[2021-11-09 22:24] #242 closed

[2021-11-18 10:02] dirien opened #246 "panic: close of nil channel"
Expected Behavior
=================
docker-slim call of a container with arm arch ond non arm machine results in
[code]

---
Actual Behavior
=================
docker-slim handles this issue graceful

---
Steps to Reproduce the Problem
===============================

  1. Non arm macos
  1. docker-slim build ghcr.io/dirien/minectl:0.12.1-arm64 --http-probe=false
  1.

---
Specifications
==========

[2021-11-22 08:36] choutos commented on #48
Any update on this? I ran into the same issue with an image containing Ansible.

[2021-11-24 08:53] rajeshjatavkonvergeai opened #248 "API url of python application is not working after docker-slim image"
When running a python application with normal docker images, the application is running on Flas and the API URL is also working. When running this application with docker-slim image, the application is running but none of the APIs are working.
Get the following error **"home:1 Access to XMLHttpRequest at 'http://localhost:7002/PATH' from origin 'http://localhost:8080' has been blocked by CORS poli

[2021-11-25 08:55] tomgiggs opened #249 "Can't close tar writer: io: read/write on closed pipe"
Expected Behavior
=================
socker-slim build success
sudo docker-slim build  --http-probe=false  registry.cn-hangzhou.aliyuncs.com/tanghaom/jetson_deploy_base:report0.3 --tag jetsonInfer:optimized  --pull

---
Actual Behavior
=================
artifacts/files.tar to tar: io: read/write on closed pipe

---
Steps to Reproduce the Problem
===============================

docker-slim: message

[2021-11-27 04:02] ProfessorManhattan commented on #239
Hey @kcq -- I like customizing each container in CI pipelines to be as small as possible with DockerSlim so I can quickly spot issues. I would like a way of confirming that the effects of running the fat container are the same as the effects of the slim container. The simple way I've been doing it is running a bash script to compare the stdout of the fat and slim container when a certain command i

[2021-11-27 15:46] #246 closed

[2021-11-29 19:34] #244 closed

[2021-11-30 07:44] rajeshjatavkonvergeai commented on #248
Any update?

[2021-12-07 08:01] openedhardware opened #251 "Failed to execute on GitLab CI"
The following command has been working well for 6+ months, but suddenly stopped working on gitlab CI:

I have updated the docker-slim version to the latest, but same..

Any idea why this happened suddenly?

Thanks!

[code]

[2021-12-08 03:11] kcq commented on #249
Thanks a lot for opening the issue @tomgiggs !

Just to double check...

is this how you invoke DockerSlim: `sudo docker-slim build --http-probe=false registry.cn-hangzhou.aliyuncs.com/tanghaom/jetson_deploy_base:report0.3 --tag jetsonInfer:optimized --pull`?

is this image available locally already: `registry.cn-hangzhou.aliyuncs.com/tanghaom/jetson_deploy_base:report0.3`?

Can you also add the g

[2021-12-08 03:17] kcq opened #252 "Need to migrate the inline command flag definitions in `build` and other commands to the corresponding flags.go files"
Example:

https://github.com/docker-slim/docker-slim/blob/master/pkg/app/master/commands/build/cli.go#L160

[2021-12-08 03:21] kcq opened #253 "Console output as json with a flag to control when the console output is free form text and when it's json"
Need to have a global flag to control the console output mode (`--json-output` or something like that).

[2021-12-08 08:32] kcq opened #254 "Pass log level setting from the main app to the sensor"
Right now the main app passes the debug flag to the sensor as a startup param when the global `--debug` flag is enabled. The `--debug` flag is a shortcut for the `debug` `log-level` configured with the `--log-level` global flag.

We need to pass the log level param to the sensor when we configure the entrypoint/cmd fields for the temporary container.

[2021-12-09 17:18] mritunjaysharma394 commented on #252
Hi @kcq , would love to work on this issue! Thanks!

[2021-12-09 18:29] x-private-one commented on #252
go for it :-)

[2021-12-09 18:30] kcq commented on #252
go for it :-)

[2021-12-12 03:21] #252 closed

[2021-12-13 14:20] goffinf opened #257 "Version 1.37.3 reports as outdated"
Expected Behavior
=================

No message indicating that the latest version (1.37.3) is outdated

---
Actual Behavior
=================

Outdated info message is output when running docker-slim

---
Steps to Reproduce the Problem
===============================

[code]

---
Specifications
=================
  - Version: 1.37.3
  - Platform: Ubuntu 20.04.3 LTS

[2021-12-13 17:34] kcq commented on #257
@goffinf thanks for opening the issue! great catch! It's a Lambda deployment bug where release deployment didn't quite deploy properly due to the recent AWS changes. The issue will be addressed in the next couple of days.

[2021-12-13 17:43] goffinf commented on #257
@kcq no problem. I am happy to close now in anticipation of the fix, or equally ok if you want to close when you have that over the line ?

[2021-12-14 11:52] Bohne9 opened #258 "Dangling container after failing HTTP-probe app"
Docker-Slim does not perform any cleanup after a failing HTTP-Probe app.

---

Right now, when using custom HTTP-Probe apps there is the issue that Docker-Slim simply exits after an HTTP-probe exec app fails. The consequence is that the container with the original image keeps running. Now you have to manually remove this container to be able to use Docker-Slim again since the ports are still bound

[2021-12-14 16:48] kcq commented on #258
Thanks for opening the issue @Bohne9 ! Definitely shouldn't have any leftovers. Will have a fix soon.

[2021-12-17 18:50] ProfessorManhattan commented on #239
_ping_ @kcq -- just wondering if this feature is still planned and when it might be available either for testing on a PR or in the master branch

[2021-12-19 06:37] kcq commented on #239
@ProfessorManhattan shooting for a New Year release with this enhancement included :)

[2021-12-22 06:34] rikez commented on #254
Hey @kcq, I'd love to work on it. May I put a PR?

Do we also want to propagate the `log format`?

[2021-12-22 09:23] kcq commented on #254
That'll be great @rikez ! Good idea with the log format too :)

[2021-12-23 07:15] kcq opened #262 "Migrate the Main App from urfave/cli to urfave/cli/v2"
The v2 has a number of nice features, but before we can take advantage of them we need to do a basic migration to the new version.

There's a nice migration guide:

https://github.com/urfave/cli/blob/master/docs/migrate-v1-to-v2.md

[2021-12-23 14:36] mritunjaysharma394 commented on #262
Hey @kcq , I would like to work on this issue :)

[2021-12-23 16:37] kcq commented on #262
Go for it @mritunjaysharma394 :)

[2021-12-23 16:44] kcq commented on #254
thank you for making the enhancement @rikez ! let me know if you'd be interested in doing more and we'll find something interesting :)

[2021-12-23 16:45] #254 closed

[2021-12-23 16:46] #236 closed

[2021-12-23 19:49] rikez commented on #254
@kcq no problem! yes, I'd like to help 💪

* I haven't found any automated tests, is that right? Are there any plans to add them?
* I noticed there's a `deepsource.toml` file with the rules to run static analysis. Is it possible to run them locally? Do you think it would be useful to add a tool like [golangci-lint](https://github.com/golangci/golangci-lint)?

Let me know how I can help!

[2021-12-25 04:05] ProfessorManhattan commented on #239
@kcq -- stoked... how can I get my images included on the docksl.im website?

[2021-12-26 03:46] kcq commented on #239
@ProfessorManhattan what do you mean?

[2021-12-26 04:04] kcq commented on #254
@rikez Need to update the static analysis tool setup... The current set of static checks are in `https://github.com/docker-slim/docker-slim/blob/master/scripts/src.inspect.sh`. Hoping to use `https://github.com/bwplotka/bingo` to have a consistent way to use the static analysis tools including `golangci-lint`. Was thinking about enabling these`golangci-lint` linters: govet, gosimple, staticcheck,

[2021-12-26 19:18] rikez commented on #254
@kcq yes, I'd love to work on that improvement, but do you think this adds value atm? Is there anything else in the queue? a bug, a feature that you need help with? I'm down for that too.

I will create an issue for the linters, if there isn't one yet.

[2021-12-26 20:19] #262 closed

[2021-12-26 21:15] kcq opened #264 "Add support for the HEALTHCHECK instruction when reverse engineering Dockerfiles"
There's still no support for the HEALTHCHECK instruction:
https://github.com/docker-slim/docker-slim/blob/master/pkg/docker/dockerfile/reverse/reverse.go#L343

[2021-12-26 21:31] kcq commented on #254
@rikez there's a lot todo definitely :) The linter enhancements will be nice if they quick wins. If you prefer functional enhancements then makes sense to focus there. A simple enhancement can be something like this one: https://github.com/docker-slim/docker-slim/issues/264 For more complicated enhancements adding support for compose in the `run` command can be good (no issue for it yet; there's t

[2021-12-27 03:00] kcq opened #265 "http probes: support for FastCGI to probes PHP applications"
PHP applications don't handle HTTP requests directly. The HTTP requests need to be sent using the FastCGI protocol.

[2021-12-27 03:08] kcq opened #266 "Refactor `--http-probe-exec` and `--http-probe-exec-file` to be separate from HTTP probes and add its own `continue-after` mode"
These flags represent `app probes` that you configure to run when `docker-slim` is doing dynamic analysis. It should be done separately from the existing HTTP probes.

New names:
`--app-exec` (was `--http-probe-exec`)
`--app-exec-file` (was `--http-probe-exec-file`)

New `continue-after` mode: `app`

[2021-12-27 04:47] dev852com opened #267 "wordpress.slim chown: command not found"
Expected Behavior
=================

---
Actual Behavior
=================
```docker-compose up -d```
/usr/local/bin/docker-entrypoint.sh: line 31: chown: command not found

---
Steps to Reproduce the Problem
===============================

  1. docker pull wordpress:latest
  1. docker-slim build wordpress:latest
  1. /usr/local/bin/docker-entrypoint.sh: line 31: chown: command not found

---
Spe

[2021-12-27 09:25] dev852com commented on #267
fixed by including path /var/www/html and /bin

[code]

[2021-12-27 09:25] #267 closed

[2021-12-27 21:03] mritunjaysharma394 commented on #264
I think I can work on this @kcq :-)
Will try to look and create a PR hopefully

[2021-12-28 01:33] kcq commented on #264
@mritunjaysharma394 great!

[2021-12-28 01:40] rikez commented on #266
Happy to work on it.
I think it's a good one to become more familiar with the codebase. and the features.

[2021-12-28 01:44] kcq commented on #266
@rikez great! also happy to do a code walk through if you'd like :)

[2021-12-28 01:53] kcq opened #268 "Optional / user defined ability to wait before starting each compose service"
We need a flag (`compose-svc-start-wait` ) to control how long docker-slim should wait before starting each service when there's a compose file (`build`, `profile`, `run` commands though the `run` command doesn't have support for `compose` yet).

[2021-12-28 18:22] kcq commented on #257
should be ok now

[2021-12-30 06:09] loganshamberger commented on #253
@kcq Could I take a stab at this?

[2021-12-30 06:23] vraravam commented on #18
How can i specify the `timeout` value? An example of this would be greatly appreciated!

[2021-12-30 07:36] kcq commented on #253
Go for it @loganshamberger :) Let me know if you'd like to do a code walk through to learn about the execution context used for I/O and other things.

[2021-12-30 17:16] loganshamberger commented on #253
@kcq I think that would be helpful. I've pulled it down and am just trying to get the code built and run to start.

[2021-12-30 19:51] kcq commented on #18
The command should look something like this `docker-slim build --continue-after=30 --http-probe-off my-api`. I assume `my-api` is a containerized CLI app. It makes sense to have a mode to continue once the app exits without waiting any extra time.

[2021-12-30 23:50] vraravam commented on #18
Thanks @kcq - I was trying with a value of `0` (intending for fully non-interactive mode, but that reverts back to waiting for user input. Instead, `1` works perfectly fine!

`my-app` is an image for a java springboot application whose `ENTRYPOINT` is `java -jar ...` so, it'll not exit per se

[2021-12-31 00:56] kcq commented on #18
@vraravam you don't want to turn off http probing then because one way or another the app needs to have a chance to fully initialize, which may take a bit longer than usual because the app is traced. With the default http probe (which you get if you don't set any extra params) your app will get pinged with `GET /` and the probe will keep trying until it gets a response or it runs out of the number

[2021-12-31 01:55] vraravam commented on #18
Thanks @kcq - but, while building the image, i fail to understand why i need the app to fully initialize. Could you please elaborate? I can understand if running, but, while building?

[2022-01-01 01:37] Zachvice commented on #268
Hey @kcq I'd like to tackle this issue. I'm somewhat new to GO and docker-slim, could I get pointed in the right direction?

[2022-01-01 15:37] MShekow commented on #195
Hi, I can confirm that docker-slim does not work in the GitLab SaaS runners, for the same reason as the OP indicated. See [here](https://gitlab.com/MShekow/docker-slim-example/-/jobs/1933741449). Pity.

[2022-01-01 19:59] kcq commented on #18
@vraravam the `build` command in `docker-slim` performs static and dynamic analysis on the target container images and it ends up creating an ephemeral container to do the dynamic analysis and that's where the probes are used.

[2022-01-01 20:11] kcq commented on #195
@MShekow thanks a lot for providing the logs! Super helpful... and great that the app repo is available too https://gitlab.com/MShekow/docker-slim-example . We'll figure this out :)

[2022-01-01 23:02] MShekow commented on #195
@kcq thanks for looking into it. The project (and docker-slim) does work in my organization's private GitLab instance, where we use self-hosted GitLab runners (with "docker" executor), which are configured to mount the host machine's Docker socket into the CI job containers (so we are _not_ using Docker-in-Docker there, but socket mounting). This means that the problem somehow seems to be caused b

[2022-01-02 04:25] kcq commented on #195
@MShekow yes, mounting the docker socket with Gitlab's setup is not really an option. Need to use DOCKER_HOST instead. Double checking the exact configs...

[2022-01-03 11:59] kcq commented on #195
Also looks like the main app is not picking up the right IP address when it's trying to talk to the temporary container

[2022-01-04 05:10] rikez commented on #266
Quick update: still working on that, will put a PR soon.

[2022-01-04 06:45] kcq commented on #266
Any questions or thoughts? Let me know if you need any help.

[2022-01-04 20:54] kcq opened #269 "Ability to override the container image when targeting compose service for minification (`--target-compose-svc-image` param)"
You might have a compose file that doesn't reference the exact version of the container image you want to minified (e.g., the target service might reference the `latest` tag and you want to minify `v1.2.3` for your target image).

The `--target-compose-svc-image` command parameter (for `build` and `profile` commands) should provide a way to use the desired image version without having to rewrite y

[2022-01-04 20:58] kcq commented on #268
@Zachvice The [`Tour of Go`](https://go.dev/tour) and the two code walk through videos on [`Youtube`](https://www.youtube.com/channel/UCy7RHjJlaBhpCCbChrd8POA) are good resources. The [`code diagram`](https://app.codesee.io/maps/public/1cedd540-6451-11ec-a279-0572ca5abbdc) with CodeSee might be useful too.

Happy to do an intro code walk through too. Others might join as well if we do it.

[2022-01-05 06:20] #206 closed

[2022-01-05 06:22] #257 closed

[2022-01-05 16:30] vraravam commented on #18
sorry to belabor the point, but what's the use of dynamic analysis? Is it for cases where the app writes files to some disk location or other similar functionality?

[2022-01-06 00:08] kcq commented on #18
Dynamic analysis is necessary to understand the containerized application and what it needs. The information collected during dynamic analysis is augmented with the information collected with static analysis and all that is used to generate the minified image. Without that information you'll have to use a lot of `--include-***` parameters to explicitly declare what you want to keep when it comes t

[2022-01-06 18:26] pedroricardo opened #270 "Using Docker-slim on remote host"
Currently I use docker-compose v2 with the --context flag which makes it possible for me to build and launch a container on a remote host.

I would like to know if there is any possibility of using docker-slim under these conditions, with docker-compose --context

[2022-01-07 03:40] kcq commented on #270
The `--host`, `--tls`, `--tls-verify` and `--tls-cert-path` global flags in `docker-slim` should allow you to do that (you can use the DOCKER_HOST env var too). It should give you the same results with a bit of extra work and without a nice named context to select your remote docker daemon. This is how `docker-slim` is able to run on Gitlab with their docker runners, for example.

[2022-01-07 14:01] pedroricardo commented on #270
I get it, so the docker flags are compatible! it helps

but in relation to composefile is there any way to use my docker-compose.yml built in to docker-slim to build smaller containers using just the docker-compose up --build command in the terminal

[2022-01-07 18:54] kcq commented on #270
invoking `docker-slim` when you run `docker-compose up --build` is tricky because `docker-compose` doesn't support plugins where 3rd party components can be integrated.

[2022-01-08 20:17] #270 closed

[2022-01-09 17:35] ProfessorManhattan commented on #239
Oh, I thought there was a catalog of pre-made slim images when I last
checked it out

On Sat, Dec 25, 2021, 10:46 PM Kyle Quest ***@***.***> wrote:

[2022-01-11 16:02] hwine opened #271 "Help for `export-all-data-artifacts` xray option is misleading"
Expected Behavior
=================

The `README` and cli information for the `--export-all-data-artifacts` option should be as accurate as possible.

---
Actual Behavior
=================

The current text:

Implies that the option value can be set to a directory. Supplying a directory path, other than "`.`", produces an error.

---
Steps to Reproduce the Problem
===============================

[2022-01-11 18:34] kcq commented on #271
thanks for opening the issue @hwine ! the flag description definitely can be enhanced and it'll be good to explicitly state that the value is supposed to be a file name

[2022-01-11 18:36] #271 closed

[2022-01-17 06:11] ProfessorManhattan commented on #239
Hey @kcq -- when is the New Year release coming out with this enhancement? Was this feature already released because I don't see any documentation for it

In regards to my previous comment, when I signed into dockersl.im, I'm greeted with a list of popular repos. I was thinking that would be a place to show community-created slim images. I'd love to be able to see the configurations people are usi

[2022-01-18 07:34] drauch opened #274 "Are you supporting "slimming" Windows-based images?"
See title :-)

[2022-01-18 07:36] kcq commented on #274
Not yet, but there's been more interest around it recently. Need to do more research about the current options.

[2022-01-18 07:43] MShekow commented on #195
Do you have any idea what causes this?

[2022-01-18 07:47] kcq commented on #239
There's a minification related regression (nginx image fail to minify due to changes in pid file handling). Need to fix that.

You'll be able to create your own collections in Slim SaaS and they'll show up that home screen. There'll be an ability to share your collections with the platform or other SaaS users (there's an early version of it already though it'll need more work). It might be interes

[2022-01-19 04:34] rchildress87 opened #275 ""OCI runtime create failed" when building on M1 Mac"
Expected Behavior
=================

docker-slim builds the specified image.

---
Actual Behavior
=================

[code]

---
Steps to Reproduce the Problem
===============================

  1. Install docker-slim 1.37.3 via Homebrew:
[code]
  2. Pull a Docker image from registry (i.e. `ubuntu:focal`):

  3. Attempt to build Docker image using `docker-slim`:
[code]
---
Specifications
=========

[2022-01-20 18:12] ewoks opened #278 "Podman support?"
Any guide on how to use it with podman instead of docker?

[2022-01-21 01:19] kcq commented on #278
You can try symlinking `/run/podman/podman.sock` to `/var/run/docker.sock`. You may already have if you installed additional podman packages (e.g., podman-docker). The v2 REST API in Podman should expose Docker compatible endpoints (haven't tested it though).

[2022-01-21 18:30] rchildress87 commented on #275
Additional things I've tried:

- Adding `/opt/homebrew` to Docker Desktop's file sharing resources
- Adding `/opt/dockerslim` to Docker Desktop's file sharing resources
- Uninstalling docker-slim from Homebrew and use the latest M1 docker-slim binaries directly from https://downloads.dockerslim.com/releases/1.37.3/dist_mac_m1.zip
- Running M1 Mac binary with elevated permissions: `$ sudo ./docker-

[2022-01-22 03:17] InnovativeInventor commented on #182
I can reproduce this as well (different image, though)! Adding `fstatfs` to the list of allowed syscalls worked for me.

[2022-01-23 04:12] kcq commented on #182
@InnovativeInventor do you have a repro you can share? are you using the `--exec` param? One thing to keep in mind with the `--exec` param is that whatever you execute there won't be included in the list of syscalls reported back to the main app.

[2022-01-23 04:16] InnovativeInventor commented on #182
Unfortunately, I can't share the image I reproduced this bug on. However, I was using the `--exec` param, so that may be the issue (although I think the default entrypoint for the image I was running `docker-slim` should have used all the necessary syscalls that are being used in prod).

[2022-01-24 09:33] chiehpower opened #279 "docker-slim-empty-image issue"
So far, what I test the environmnet is on ARM device (AGX). And my image was pulled from NGC (nvidia).

Actual Behavior
=================
Here are my command steps:

[code]
It outputs a lot. After it has done, then I executed the command below.
[code]
When I checked the images, it was empty.
[code]

Is there any idea about this situation?
Thank you in advance!

---
Specifications
=================

[2022-01-25 00:35] rchildress87 commented on #275
Additional logs using `docker-slim --debug build --show-clogs ubuntu:focal`:

https://gist.github.com/rchildress87/b7965400b2609dc85d9131b8db5bb0bc

[2022-01-29 17:59] kcq opened #281 "Helper include build command flags for Nuxt.js apps"
Bool flags (default to false):

`--include-app-nuxt-build-dir` - to indicate that we want to include APP_DIR/.nuxt (for SSR apps)
`--include-app-nuxt-dist-dir` - to indicate that we want to include APP_DIR/.nuxt/dist (for static spa apps)
`--include-app-nuxt-all` - to indicate that we want to include APP_DIR

Notes:

APP_DIR will need to be discovered with dynamic or static analysis.

Also need to

[2022-01-31 22:06] #264 closed

[2022-02-01 10:35] HarmlessSaucer opened #284 ""OCI runtime create failed" on Intel macOS"
Expected Behavior
=================
When running docker-slim on any image on my macOS system, instead of evaluating the image, I get the following error below.

---
Actual Behavior
=================

[code]

---
Steps to Reproduce the Problem
===============================

  1. Installed docker-slim using Brew:  `brew install docker-slim`
  2. Pull docker image from Artifactory (Image builds web

[2022-02-01 15:22] jotaoncode commented on #82
@kcq

I also hit the same issue not entirely sure how to proceed with it:
[code]

I am using a Linux Manjaro, I tried to define a few environment variables to use my minikube mysql instance with my machine as a host.

This works fine if I do this:
[code]
meaning I am able to access my database and the network host with my testing container is fine... also trying a bit further using the --env worke

[2022-02-01 16:45] Danipiario commented on #278
It doesn't work. I try also with `docker-slim --host unix:///run/user/1000/podman/podman.sock`
[code]

Please note that the image is shown if I run the command in interactive mode. I try also with root access with no luck

[2022-02-04 03:11] kcq commented on #284
thanks for the report @HarmlessSaucer ! investigating...

[2022-02-04 19:34] jotaoncode opened #285 "Docker slim produces a broken nestjs / nodejs image"
Expected Behavior
=================

The image to work as in previous builts

---
Actual Behavior
=================

Minimizes the size of the image properly but when I try to run it, it fails with an error.

---
Steps to Reproduce the Problem
===============================

I am trying to improve my docker images by minimizing as much as possible their size. In order to do so I did the follow st

[2022-02-04 23:28] jotaoncode commented on #285
I was able to made it run by using a flag called `--include-path` and adding my own application folder to it

[2022-02-07 17:49] kcq commented on #285
What was the `--include-path` you used for it?

[2022-02-07 17:55] kcq commented on #285
@jotaoncode thanks a lot for your very detailed ticket! Do you mind sharing more about the app? The Dockerfile you shared doesn't have any ports exposed in it. Curious how you run the app...

Wonder if specifying custom http probes can eliminate the needs for the `--include-path` param.

[2022-02-10 09:30] BEIIKS opened #286 "Add entrypoint script to dslim build"
In my image I used an entrypoint that insert env variables to vue project, in Dockerfile:

[code]
and the docker command is:
`docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock dslim/docker-slim build --http-probe=false --include-path=/usr/src/app --include-path=/usr/local/lib/node_modules/npm/node_modules my_image_name`

I'm not sure where I supose to add flag for entrypoint and whi

[2022-02-12 19:53] kcq commented on #269
@sreeo for for it :)

[2022-02-13 05:24] kcq commented on #286
@BEIIKS not quite clear what you are trying to accomplish with the entrypoint flag. `docker-slim` does have a way to override the entrypoint for your container, but you shouldn't need to use it unless you don't want  `docker-slim` to use what's declared as the entrypoint in your Dockerfile. If you want `ENTRYPOINT ["sh", "/usr/share/nginx/entrypoint.sh"]` to execute then you don't need to do anyth

[2022-02-13 08:13] BEIIKS commented on #286
Well then, I guess it's because something else. I'll let you see the difference between the full size image and the shave one.
Full size - ![image](https://user-images.githubusercontent.com/86668119/153744787-4354fc8c-1ade-42cf-96fb-97fff3ec5ea4.jpeg)

After dslim - ![image](https://user-images.githubusercontent.com/86668119/153744798-5960949f-a491-4a41-ba09-f67ca9c9d16a.jpeg)

[2022-02-14 08:15] al1p-R commented on #178
Hello, I seem to have the same error running docker-slim on mac os 12.1
[code]

Version
[code]

[2022-02-14 13:43] jotaoncode commented on #285
@kcq I am sorry for the delay on this answer, I will try the exposure of the http probes and may be that removes the need for `--include-path`, in my case the bundle was less than 100Mb when I tried the docker slim but it did not contain the /app folder at all.
Later I followed some of the advices Jay in [this stackoverlow](https://stackoverflow.com/questions/70991824/how-to-minimize-properly-a-ne

[2022-02-15 08:54] jotaoncode commented on #285
@kcq so some results and steps to reproduce the issue, I will reopen it because it is actually touching the image the adding or removing of this flag.

Steps to reproduce it (you may need nodejs installed, I have v16.13.1):

- using the nest - cli call the following `nest new testing-docker-slim` this will create a brand new nest project for you.
- copy in the folder testing-docker-slim the follow

[2022-02-16 12:25] sreeo commented on #265
i wanted to pick this up? should i add a flag to use fastcgi probes instead of the normal http ones?

[2022-02-16 22:36] matthewfischer commented on #178
Same for me on MacOS 11.6.

[2022-02-20 13:30] pentium10 commented on #129
@kcq I've run into this error on a Cloud Build job

[code]

then the output

[code]

do you have any guidance what to fix?

[2022-02-21 06:54] kcq commented on #129
@pentium10 not sure about the Cloud Build environment, but the current Gitlab CI prevents the original ipc design from working as expected. The latest code in master addresses the changes in Gitlab CI and it may help with Cloud Build too. It'll be a part of the new upcoming release (1.37.4)

[2022-02-21 09:23] pentium10 commented on #129
I've built the master
`docker-slim version linux|Transformer|1.37.3-40-ga2b95b1|a2b95b1dacc4c7a5e3d0175bdc34369ceeb409fb|2022-02-21_08:49:08AM`

this is the launch command
[code]

I've tried setting `--network=cloudbuild` but no difference in resolution

and this is the failed output:

[code]

[2022-02-21 17:12] kcq commented on #129
@pentium10 can you double check what the docker host resolves to in your build environment... the main docker-slim app is trying to connect to 172.17.0.3. will be good to understand if it's the docker host ip or the temp container ip.

if you are using the latest code from master then you'll have the `sensor-ipc-mode` and `sensor-ipc-endpoint` build command flags, which might be useful here (eg, `

[2022-02-21 17:34] pentium10 commented on #129
`cat /etc/hosts`

[code]

there is no `docker` host

[code]

`ss -x -a`
returns empty table (it should display unix sockets )

`ss -a`

return this

[code]

actually, I am unable to find the docker hostname, can you guide how to find it out?

[2022-02-21 20:14] pentium10 commented on #129
apparently I have a good command to return the right IP host:

`docker network inspect bridge -f '{{range .IPAM.Config}}{{.Gateway}}{{end}}';`

this returns `172.17.0.1`
and then when I use as

[code]

I am getting all sort of error with HTTP probe, but likely the IPC connection was established, but I don't know if that's true. Please advise.  Remember I was able to run this container locally by t

[2022-02-21 23:30] kcq commented on #129
@pentium10 great Cloud Build research! thank you for sharing your learnings!

Depending on how the Docker environment is setup and how they isolate the Docker components the main app in docker-slim would either need to point to the temp container directly or it would need to point to the docker daemon.

With Cloud Build you'll need to point to the docker daemon, which happens to be `172.17.0.1`. T

[2022-02-22 04:42] ksingh7 opened #292 "API error (404): Could not find the file /opt/dockerslim/artifacts/creport.json in container"
Expected Behavior
=================
- Docker-slim should minify a 5GB docker image

---
Actual Behavior
=================

- level=fatal msg="docker-slim: failure" error="API error (404): Could not find the file /opt/dockerslim/artifacts/creport.json in container c6558fa8fa08e1ccbfd7c28bd23da098788d369fb42e9e57d991bf1bafb1d5eb" stack="goroutine 1

---
Steps to Reproduce the Problem
===============

[2022-02-22 04:43] ksingh7 commented on #292
@kcq  Hey Kyle, can you help with this, i am trying to minify a 5GB image ([dockerfile](https://github.com/ksingh7/rembg/blob/main/Dockerfile)) using docker-slim , but it breaks

[2022-02-22 07:21] kcq commented on #292
@ksingh7 let me take a look

[2022-02-22 08:43] pentium10 commented on #129
Yesterday I was tired after so many attempts, today looking fresh at the `--http-probe-ports=8080` it works OK. I had messed with the base container not exposing some ports.

✅ the final Cloud Build command that works is:
[code]

➜ Question 1:
`docker network inspect bridge -f '{{range .IPAM.Config}}{{.Gateway}}{{end}}';`
are you intend to use the above to find out the IPC communication? As far I

[2022-02-22 22:37] pentium10 commented on #120
@kcq I went into this issue myself as well (using the master build)

essentially what I've seen is that some files in `/var/www/modules` are kept but they are zero sized.

[code]

[code]

the date says the DS was touching them.

the `/etc/apache2/httpd.conf` references the following line and its not commented out:
[code]

[2022-02-23 19:34] satishdash commented on #248
I perhaps have the same problem. After inspecting the slim report using docker xray I find the RUN instructions removed which actually had the `pipenv install --clear -d` command to install packages.
@kcq Is there a config to use in cli that would depict which instructions shouldn't be excluded?
(Thanks for all the hard work :) it's an awesome program btw)

[2022-02-24 02:24] kcq commented on #129
@pentium10 yes, working on improving the ipc target detection logic (there's a PR right now that deals with some parts of it).

For 2 i'll be good to have well documented instructions for each environment. Right now there's a couple of notes for GitlabCI and CircleCI and the GitlabCI notes need to be updated. Creating a tool or a sub-command will be nice too (will be more complicated though).

The

[2022-02-24 11:17] rafaribe commented on #178
Same here on MacOS 12.2.1

[2022-02-24 21:02] kcq commented on #178
@al1p-R / @rafaribe / @matthewfischer are you guys using M1 by any chance?

[2022-02-24 21:06] matthewfischer commented on #178
I am not. I'm on a 2020 MBP core i5

[2022-02-25 02:02] kcq commented on #248
The original report seems to involve a containerized app with an unusual design. Usually the containerized apps don't "talk" to the host they are running on. Also not quit clear if the containerized app is a cli app or a server app that exposes a network/http interface. Need to know more about the application including the base path for the network interface if it's a server app.

Also useful to k

[2022-02-25 02:08] kcq commented on #248
@satishdash not sure what you mean by `RUN instructions removed which actually had the pipenv install --clear -d command to install packages`

If you used `xray` on the minified image you won't see any of the original image instructions because the minified image is built from scratch.

Need more info about the app and how your tried to minify it.

[2022-02-27 18:34] pentium10 commented on #129
once the new release is out, I will test fully and then I will share the Cloud Build config, also I have an article prepared of this, so we can reference that as well

[2022-02-27 23:42] kcq commented on #265
a reminder... still need to add fastcgi support for crawling

[2022-02-28 23:25] kcq commented on #129
@pentium10 here it is https://github.com/docker-slim/docker-slim/releases/tag/1.37.4

Try `docker-slim build --sensor-ipc-mode proxy --http-probe-retry-count=1 --new-expose=8080 --http-probe-ports=8080 --http-probe-exec 'curl --connect-timeout=5 http://localhost:80/' trademark;` (without using `--sensor-ipc-endpoint` explicitly)

[2022-03-01 09:49] mritunjaysharma394 commented on #269
i think the above PR as fixed this issue, can we close this @kcq?

[2022-03-01 11:15] kcq commented on #269
yes

[2022-03-01 11:16] #269 closed

[2022-03-03 21:00] kcq commented on #120
@pentium10 the `bad magic number` errors are ok... it's a side effect trying to detect which included files are also binary files

need to investigate the` relocating` errors

[2022-03-05 23:31] kcq commented on #120
@pentium10 latest code in master might be able to address the errors you observed

[2022-03-08 13:21] netrobert opened #300 "[M1 Macbook Pro] docker-slim build error - /opt/dockerslim/bin/docker-slim-sensor: no such file or directory"
Expected Behavior
=================
`docker-slim build [image]` executes normally.

---
Actual Behavior
=================
`docker-slim build [image]` returns the following error:
[code]
---
Steps to Reproduce the Problem
===============================

  1. Install docker-slim using homebrew; `brew install docker-slim` or by using the M1 Mac binaries
  2. Run `docker-slim build` on any image

###

[2022-03-08 14:44] netrobert commented on #300
Just noticed this looks to be the same issue as #275.

[2022-03-09 08:23] kcq commented on #300
@netrobert what's the location of the `docker-slim` binary on your system? and is there the `docker-slim-sensor` binary in the same directory?

[2022-03-09 09:40] netrobert commented on #300
@kcq I tried version 1.36.4 today and it worked without a hitch

Regarding your question, homebrew installs in `/opt/homebrew/bin` which is in my path, I also tried running the `docker-slim` binary directly after extracting the zip and moving the M1 binaries to `/usr/local/bin` which is also in my path but it didn't seem to change anything (in all cases both binaries are in the same directory).

I

[2022-03-12 11:37] seanogor commented on #278
Upvoting this, would be a great feature to support other container cli like podman and nerdctl

[2022-03-15 01:38] kcq commented on #278
The API Podman exposes probably isn't 100% compatible. Setting the global `log-level` flag to `trace` might produce useful clues: `docker-slim --log-level=trace --host unix:///run/user/1000/podman/podman.sock build --target nexus.lutech.it:5050/a2a/piattaforma-modelli-map/python-base/python-base-python27:1.0.0`

[2022-03-15 11:36] Danipiario commented on #278
This is the output with trace

[code]

[2022-03-15 11:57] seanogor commented on #278
Could we share this with podman community, i think the ethos of dockerslim
would work... perhaps a fork of dockerslim called ocislim/podmanslim would
broaden interest in the tool

On Tue, 15 Mar 2022, 11:36 Daniele Pirola, ***@***.***> wrote:

[2022-03-15 22:19] kcq commented on #278
This is pretty helpful though more debugging info will be necessary to root cause it (adding it and it'll be available in the upcoming release... coming out soon). Looks like the podman's API has unexpected/inconsistent image ID values in different API calls.

[2022-03-17 16:41] GabrielBlondeau-Kirby commented on #300
Hello, I have the same issue as @netrobert .

Location of the `docker-slim` -> `/usr/local/bin`
`Docker-Slim` version -> `1.37.4`

[2022-03-21 11:01] ProfessorManhattan opened #301 "Slim Images Sometimes Bigger than Regular Images"
Sometimes the slim image ends up being bigger than the regular image but I'm not sure why. Here's what I'm doing:

**Dockerfile**
[code]

**Build Command**
[code]

**Slim Command**
[code]

**Logs**

[code]

Is there something I am doing wrong? Or maybe we can have slim return the regular image if the slim image is bigger than the regular one?

[2022-03-21 13:00] prcuzz commented on #301
我遇到了相似的问题，我用dockerslim处理了busybox镜像，镜像大小从1.24MB变成了460MB。我用到的命令是这个：build --target busybox:latest --http-probe-off

I ran into a similar problem with the BusyBox image with DockerSlim, which went from 1.24MB to 460MB. The command I used was this: build --target busybox:latest --http-probe-off

[code]

[code]

[2022-03-22 06:39] kcq commented on #278
@Danipiario can you try again with the latest release (to see what kind of logs we get this time)  https://github.com/docker-slim/docker-slim/releases/tag/1.37.5

[2022-03-22 06:53] kcq commented on #301
@ProfessorManhattan need to investigate this a bit more... One possible reason for the size increase is the default behavior in docker-slim where it'll keep all need artifacts generated when the temporary container executes during minification. The `--include-new=false` build command flag setting disables this behavior.

[2022-03-22 09:18] emrekgn commented on #137
Hi @kcq ,

I also seem to have a similar error log (`signal SIGSEGV: segmentation violation code`). This happens for any docker-slim command (x-ray, build, etc.) on our docker image. The image uses `ibm-semeru-runtimes:open-11-jre-focal` as the base image, if it helps.

This is the first time I'm trying docker-slim, so am I missing something here? And is there any way I can help? Thanks.

Here is

[2022-03-22 11:06] Danipiario commented on #278
This is the output with the latest version:
[code]

This is the '/tmp/slim.report.json'
[code]

[2022-03-22 18:24] kcq commented on #137
@emrekgn the new 1.37.5 release should address the crash you are seeing: https://github.com/docker-slim/docker-slim/releases/tag/1.37.5

[2022-03-23 12:39] bedzinsk commented on #178
Same problem on:
MacBook Pro (16-inch, 2019)
MacOS 12.3

[2022-03-25 12:59] emrekgn commented on #137
Hi @kcq,
Sorry for the late reply. I finally tried it with the latest release and it works!
Thank you so much.

[2022-03-26 08:43] Nojusle commented on #136
Is there any update? Or any example how docker-slim could be used in a GitHub Actions?

[2022-03-26 22:57] kcq commented on #226
should be done

[2022-03-26 22:57] #226 closed

[2022-03-26 23:16] kcq commented on #136
@Nojusle shooting for next month

[2022-03-26 23:17] kcq commented on #137
@emrekgn nice!

[2022-03-26 23:18] kcq commented on #178
thank your for sharing your env setup @bedzinsk ! will test with 12.3

[2022-03-26 23:41] kcq commented on #278
Narrowed it down to the ListImages API. I'll update the issue once a new version is available.

[2022-03-28 09:27] RobinThrift commented on #300
I have the same issue when using the version installed using homebrew. However, building manually (using `make build_m1`) and then either running from dist_mac_m1 **OR** from `/opt/homebrew/bin` (replacing the homebrew provided binaries) **works**.

I hope this information helps.

[code]

[2022-03-29 02:04] prcuzz opened #305 ""wait timeout" error when i slim nginx image"
I'm having the following problem while shrinking nginx images with docker slim. I'm not sure if I'm doing it correctly and hope I can get an answer in this issue. Thanks!
My environment: Ubuntu 21.04 VMware virtual machine

[code]

[2022-03-29 03:11] kcq commented on #305
@prcuzz thank you for creating the issue! The main app is not able to communicate with the sensor. Next step is to figure out why it's happening.

First, can you double check if you have the sensor binary where you have the main docker-slim binary. Can you also check the binary permissions. By the way, where did you put the docker-slim binaries?

Second, run `docker ps` to see if the temporary con

[2022-03-29 03:43] paulcalabro commented on #142
I resolved this error by adding the following flag:

[code]

[2022-03-29 12:15] justusschock opened #306 "Incomplete Image Nvidia/PyTorch"
Expected Behavior
=================
A fully working image (just as the original)

---
Actual Behavior
=================

The size reduced nicely, but it's not working.

[code]

---
Steps to Reproduce the Problem
===============================

  1. `docker pull nvcr.io/nvidia/pytorch:21.10-py3`
  2. `docker-slim build --target nvcr.io/nvidia/pytorch:21.10-py3`
  3. `docker run nvcr.io/nvidia/pyto

[2022-03-30 02:22] prcuzz commented on #305
@kcq
Thank you for answering me so quickly!
I checked the issues: 1. I ran docker-slim with root privileges, and the root user has rwx privileges; 2. I put both docker-slim and docker-slim-sensor in the /usr/local/bin/ folder, according to the readme.
[code]
3.
[code]
Command "sudo docker logs dockerslimk_20108_20220329014545" has NO output

4.
When I checked to the last step and ran "docker-slim

[2022-03-30 09:08] prcuzz commented on #305
@kcq
Hello, I have encountered the above problem when dealing with tomcat image. I have copied the log output as follows:
[code]

There are more than a million lines, and they're all pretty much the same

[2022-03-31 13:35] mtardy opened #307 "Differences between seccomp profile generated via `profile"
Expected Behavior
=================

---
Actual Behavior
=================

---
Steps to Reproduce the Problem
===============================

  1.
  1.
  1.

---
Specifications
=================
  - Version:
  - Platform:

[2022-03-31 13:35] #307 closed

[2022-03-31 13:43] mtardy opened #308 "Differences between seccomp profiles generated via `build` and `profile` commands"
Expected Behavior
=================
By reading the documentation of the project, I was expecting that `docker-slim profile` was running the exact same part of the app that generates the seccomp profile while doing `docker-slim build`.

---
Actual Behavior
=================
It seems that it's not the case, I have a concrete example just below that produces two different seccomp profiles and one doe

[2022-04-05 16:36] flowHater opened #310 "cannot use --http-probe-startee-wait"
Expected Behavior
=================
Usage of documented flag should be accepted.
---
Actual Behavior
=================
got this error.
time="2022-04-05T18:31:32+02:00" level=fatal msg="flag provided but not defined: -http-probe-startee-wait"

---
Steps to Reproduce the Problem
===============================
  1. sudo docker-slim build --target my-image --expose 3000  --http-probe-startee-wait 30

[2022-04-11 02:35] kcq commented on #305
@prcuzz managed to repro a similar problem with tomcat (not quite the same, but also with http probe failures). The problem might be fixed by the recent DS enhancements (it fixed my tomcat failure). Hope to have a new DS release in the next couple of days. I'll update the issue when it's out.

[2022-04-11 02:39] kcq commented on #310
@flowHater looks like you are using version `1.37.3` and the flag might be in later versions. Can you try `1.37.5` to see if you get the same behavior?

[2022-04-11 20:29] mritunjaysharma394 commented on #308
I would like to take up this issue @kcq

[2022-04-11 20:52] kcq commented on #308
@mritunjaysharma394  lets review the current state and let's chat about the design options

[2022-04-12 03:20] prcuzz commented on #305
@kcq thanks! looking forward for the new version!

[2022-04-12 19:58] sharq1 opened #312 "Allow optimizing amd64 / x86 images on Mac M1 (arm64)"
Expected Behavior
=================
That's likely a feature request, but I feel that docker-slim would gain much broader audience if it would allow Apple Silicon users optimizing intel-based images. Since I don't have access to linux and optimizing via virtual machine would be a pain I would really **love** that feature!

---
Actual Behavior
=================
Ge
[code]

---
Specifications
========

[2022-04-13 01:10] kcq commented on #312
@sharq1 already planning a number of related enhancements to the optimized image build logic :) will update the issue soon to share the ETA for it

[2022-04-16 13:17] eduardosramos commented on #292
Problema comum de praticamente todos aqui: Reduz a imagem e depois não funciona. Me parece uma perda de tempo.

[2022-04-17 02:53] kcq commented on #292
Naturally it'll be common in bug reports... That's the whole point of reporting bugs. Nobody opens issues just to say they successfully minified their image :-) In this case it's a memory use issue in the sensor. Either way, some apps do require additional configs and it does take a few tries to arrive at the right combination of flags

[2022-04-17 02:54] #281 closed

[2022-04-17 02:55] #268 closed

[2022-04-17 03:30] kcq commented on #285
@jotaoncode Thanks a lot for the repro steps! Super helpful! I'll use this as the foundation for a new sample app too. We'll have it by default. In the meantime you might benefit from the new `--include-node-package` where you should be able to specify the name of your app's package as the flag value and it should do something similar to the `--include-path=/app` flag you have, but without using a

[2022-04-17 17:40] kcq commented on #285
@jotaoncode there's a new nest.js example and it has a number of helper scripts to repro your condition and to minify the image properly: https://github.com/docker-slim/examples/tree/master/node_nest_app

Short version:

You ended up with those failures because you used the wait/time out continue after mode and the wait time you specified was too short (`--continue-after=1`). This script repros wh

[2022-04-19 15:16] ksingh7 opened #315 "Minifying MicroShift image using docker-slim : Output Image is literally unusable"
Expected Behavior
=================
I was expecting to reduce the size of MicroShift image from 1.3GB to slightly lower.

---
Actual Behavior
=================

However upon running docker-slimi the resultant image is 24MB but it is not usable. Docker-Slim removed every thing.

---
Steps to Reproduce the Problem
===============================

  1. `docker pull quay.io/microshift/microshift-aio`

[2022-04-19 15:35] ksingh7 commented on #315
- Here is the output of `docker-slim xray`

[code]

[2022-04-19 16:28] pentium10 commented on #315
@ksingh7 this is not a bug. You misunderstood how dockerslim minifies your container. You didn't provided any probe.

You need to provide a probe. That probe should "touch" all the relevant files from your application code to function correctly. In the background all system and libraries files which are needed to run your app will be retained in the container. Add a probe and you will likely have

[2022-04-19 16:53] kcq commented on #315
@ksingh7 The image uses systemd to start microshift (so it's not started directly from the entrypoint) and it makes it a bit more complicated, so we'll need to use extra flags to make sure we get everything we need there. Overall we need to make sure that `microshift`, `oc` and `kubectl` are functional. I'll try calling those apps directly in a shell script using a custom entrypoint during minific

[2022-04-19 16:56] kcq commented on #315
@pentium10 thanks for jumping in! yes, need probes and with `kubectl` and `oc` (which are CLI apps) we'll need `exec` probes similar to how the repro/test steps look like.

[2022-04-19 17:02] ksingh7 commented on #315
Hey @kcq  thanks for chiming in , you got that right the microshift-aip container image uses other cli tools `oc` `kubectl` `microshift`

Can you elaborate, does that mean i should build my own Dockerfile for `microshift-aio` container ? currently i am using a pre-build docker image 1.3GB which i am trying to minify

Can you point me to some example that uses `exec` probe with CLI tools ?

[2022-04-19 17:12] pentium10 commented on #315
AFAIk I would look into the `continue-after` mode is for this purpose, there is a good discussion [here](https://gitter.im/docker-slim/community?at=60d3d70065513b4d912ad8e4) about the various uses.

you need to provide the exec option and replace the curl syntax with the CLI tool probe script
`--http-probe=false --exec "curl checkip.amazonaws.com"`

also you might need to set
`--continue-after pro

[2022-04-19 17:17] kcq commented on #315
No need for that. It's two runtime params (one to mount the custom shell script and another one to point to that custom script as the entrypoint).

The `exec` probes use the `--exec` or `--exec-file` params. Here's a simple example (not enough for this image):`docker-slim build --http-probe=false --exec "kubectl get nodes" quay.io/microshift/microshift-aio`

Your `docker run` example opens up port

[2022-04-20 05:08] kcq commented on #315
@ksingh7 would it be possible to share `microshift-data` (harder to repro the setup without the configs from that volume)

[2022-04-20 13:30] rghdrizzle commented on #253
@kcq is someone still working on this?

[2022-04-20 17:08] kcq commented on #253
still open and still TBD :)

[2022-04-21 14:48] quemeraisc opened #317 "slimmed version of python3.10 version seems to loose package(s)"
Expected Behavior
=================

docker run of my image runs perfectly my python code using various packages (important here: juniper `pyez` and `cryptography`)

---
Actual Behavior
=================
docker run of the slim version crashes
output here :
[code]

Dockerfile:
[code]

[2022-04-22 00:14] kcq commented on #317
Thanks for sharing the issue @quemeraisc ! what does your `requirements.txt` look like? Is this a server app? How did you try to minify your image? What flags did you pass to the `docker-slim build` command? What's the console output when you ran `docker-slim build`?

[2022-04-22 06:29] fjibj opened #318 "how did docker slime support centos xrdp desktop?"
Expected Behavior
=================
I build a centos-xrdp image (https://github.com/feifeixj/docker-centos7-xrdp-english) for remote access, it's so big, 5.11GB. so I want to shim it, and I expect the shimed one would work round

---
Actual Behavior
=================
but it's not. When I remote access the container, it only show me a black screen.
I check the progress,

---
Steps to Reproduce the

[2022-04-22 09:02] a-takahashi223 commented on #179
I had a similar situation.
In my case, I give hostname as environment variable and if it is not given, it will be `localhost`.
When I ran `docker-slim build`, I didn't give the environment variable, so the app accessed `localhost`, which should have resulted in `connection refused`.
In this case, would it work if I had set the environmental variable to hostname that would return an HTTP response?

[2022-04-22 09:12] quemeraisc commented on #317
hello @kcq. I used the basic command `docker-slim build --http-probe=false --target enrichment/iosx`.
The requirement file is the python requirement for my app, as follows:
[code]
those are some networking module and the crypto module.
This app is connecting to a bunch a network equipement collecting information.
Here is the output of the build:
[code]

[2022-04-22 21:35] decarboxy commented on #292
Hey there, I had exactly the same error with a large (30GB) image. I ran it with the `--debug` flag, the results of which are below, if they're of any help.

you mentioned it was a memory use issue, which i guess makes sense given the size of the container. I know i'm not running out of memory on the machine itself.

[code]

[2022-04-22 22:04] kcq commented on #292
Hey Sam :-) Can you also add the `--show-clogs` command level param. It'll understand what happened with the sensor in the container. The creport.json should be there unless the sensor crashed :)

[2022-04-25 15:01] decarboxy commented on #292
I ran in debug mode with --show-clogs, the complete logs are here:
[slim-logs.txt](https://github.com/docker-slim/docker-slim/files/8555590/slim-logs.txt)

the container is an open source project, the dockerfile is here: https://github.com/CyrusBiotechnology/RoseTTAFold/blob/main/Dockerfile, i can provide a command line and reasonable minimal input if it would be useful to you.

I did notice that

[2022-04-27 13:24] quemeraisc commented on #317
Maybe this can help.
I have just tried to use the `alpine` derivative of python's docker and got to an error message also concerning the `cryptography` module. There seems to be a missing compiler in that case.
There might be something similar happening when using docker-slim.
No error came up at build time though

[2022-04-28 11:42] rcasta74 commented on #278
Hello, I'm using manjaro distro on raspberry pi 4 and I'm trying to use this tool with podman, but with any command I try to run (the ones listed here or even docker-slim by its own) I always get this error:
[code]
It is the same if I start it from root.
I have already installed podman-docker package which provide the link mentioned at beginning:
[code]
Am I missing something?

[2022-05-06 14:26] hood opened #320 "Getting error `API error (404): Could not find the file /opt/dockerslim/artifacts/creport.json in container <CONTAINER_ID>` on all my builds all of a sudden"
All of a sudden I've started getting `docker-slim`-related errors during my builds, no matter if I revert to the exact same steps I've followed until the errors started happening.

Here is an excerpt from my build logs:
[code]

I'm using `docker-slim` do minify my final images inside of Google Cloud Build. Here is an example `cloudbuild.yaml` I'm using:
[code]

[2022-05-06 14:52] hood opened #321 "`--tag` option not being respected if it contains a commit sha in it"
`--tag` option is not being respected if it contains a commit sha in it

### Example:
When running
[code]

[code]
Is followed by
[code]

# Info
* version: `1.37.6`

[2022-05-08 11:33] rghdrizzle opened #322 "Securing root access"
Hey , since your project is about containers and it provides more security , I want to know if it does not allow a user to access root login even though if they knew the password for the root ?

[2022-05-11 08:10] jotaoncode commented on #285
@kcq  wow thanks for the example folder to follow up on this case, I will take a look into it today. Was a bit disconnected for the last 6 weeks.

[2022-05-11 18:19] kcq commented on #322
@rghdrizzle This isn't possible yet and it'll also require to have the sensor running all the time including production and for that we'll need to use the new (and not yet released) system level sensor that has a low resource use profile.

Either way, this use case is a better fit for the RASP (Runtime Application Self-Protection) tools out there

[2022-05-11 18:20] kcq commented on #321
Investigating...

[2022-05-12 05:21] Atharex commented on #306
Similar thing happened in my case with a self built Tensorflow image with CUDA / CuDNN + RAPIDS
The image is really big, so it should be a perfect candidate for trimming down.

1st run - docker-slim build --target myimage --http-probe-off
`cmd=build info=results size.optimized='3.7 MB' status='MINIFIED' by='5337.08X' size.original='20 GB' `
The build is useless, as practically everything is stripp

[2022-05-14 22:19] vincepower opened #323 "AppArmor profile "error while loading shared libraries: libc.so.6""
Expected Behavior
=================

To be able to run using the autogenerated AppArmor profile.

---
Actual Behavior
=================

I've tried this on 3 versions of Ubuntu, on version of Debian, with runc and containerd. Its always the same issue with libc.so.6. The slim container works file with the autogenerated SecComp profile or not profile, just not the AppArmor one.

---
Steps to Reprod

[2022-05-17 11:54] #285 closed

[2022-05-17 18:48] sharq1 commented on #312
@kcq any update on this? I see a PR but it looks like it's stuck for some reason

[2022-05-20 08:56] D4N opened #325 "monitorContainerExit is just a huge go routine"
The function `monitorContainerExit` is just a huge anonymous function that gets called asynchronously:
https://github.com/docker-slim/docker-slim/blob/d6220ea5f2b91ee44e557a75a4123a246da2d13e/pkg/app/master/container/execution.go#L412

This is quite confusing from an API/usage perspective, as this function stays running in the background. I would suggest to refactor it a little bit, so that itself

[2022-05-25 06:25] sreeo commented on #265
Hi @kcq, is it possible to elaborate more? Would love to pick this up.

[2022-05-31 06:58] erfan-mehraban opened #331 "`--mount` option problem for building Postgres image"
Expected Behavior
=================
Running `pgbench` benchmark on PostgreSQL as a probe should be enough for docker-slim to create a minified image which can handle same load. Creating a database, filling it with some data and running some concurrent queries is what `pgbench` do.

---
Actual Behavior
=================
But after building slim image some odd behavior appear:
- Postgres image (speci

[2022-06-07 00:30] Snazzie opened #338 "How to get pass USER INPUT REQUIRED when using --http-probe=false?"
When using `--http-probe=false` with build, cmd waits for user input before continuing. This behaviour blocks CD pipelines, how does one get passed this?

Expected Behavior
=================

Doesnt require user input to continue

---
Actual Behavior
=================

Requires user input to continue

---
Steps to Reproduce the Problem
===============================

  1.
  1.
  1.

---
Specifica

[2022-06-07 00:37] Snazzie commented on #279
Think you're missing the `=false` in the `--http-probe=false`

`docker-slim build --http-probe=false ubuntu:14.04   `

[2022-06-07 00:43] kcq commented on #338
Probably the easiest option to use the timeout option for the `--continue-after` flag where you specify the number of seconds to wait (to allow the sensor to collect enough information about your app) before finishing its processing. Can you share a bit more about your containerized application? What kind of app is it? What's the language?

[2022-06-07 00:44] Snazzie commented on #338
Figured it out.

In your documentation

I got passed it by providing `--continue-after exec --exec "echo hello" `

[2022-06-07 00:44] #338 closed

[2022-06-07 00:57] Snazzie commented on #338
My app doesnt expose any ports :^)

funnily, i attempted `--continue-after 4` without `--http-probe false` and it failed on the probing part and i didnt think to try it with the http-probe flag.

I just tried it with `--http-probe false --continue-after 4` and it did proceed after 4 seconds

[2022-06-07 01:03] chiehpower commented on #279
hi @Snazzie ,

Thanks for your reply!
I just rapidly tested it, and it seems to work!

[code]

Thank you so much!

[2022-06-07 01:03] #279 closed

[2022-06-07 10:29] CmdrSharp commented on #136
Really hoping for this! I do most builds in a pipeline and would love to be able to use docker-slim as part of that.

[2022-06-07 23:00] mthbrown opened #339 "Can't Access Exposed HTTP Port"
Expected Behavior
=================

I should be able to access an exposed HTTP port

Actual Behavior
=================

I can't access the exposed HTTP port

Steps to Reproduce the Problem
===============================

If I try to run something like:

[code]

it gives me the exposed port:

[code]

and I can then successfully run:

[code]

However, if I try a different image such as this:

[cod

[2022-06-08 01:24] kcq commented on #339
@mthbrown can you take a look at the docker logs when you run `medicean/vulapps:s_struts2_s2-045`? it's possible the app is not running or it crashed.

[2022-06-08 02:31] mthbrown commented on #339
Thanks for the suggestion. There does seem to be an issue for some reason. Here are the logs when it runs without **docker-slim**:

[code]

and here are the logs when I run it under **docker-slim**:

[code]

So under **docker-slim**, it does not have these additional lines where it sets up the listeners and deploys the application, etc.:

[code]

Any ideas on what may be the cause? Thanks

[2022-06-08 04:57] mthbrown commented on #339
I tried it on Ubuntu 18.04, Ubuntu 20.04 and Ubuntu 22.04 and all of them showed the same bevahior

[2022-06-08 05:25] mthbrown commented on #339
Tried it with a few other versions of docker-slim including:

[code]

with the same result, so it does not look like a regression

[2022-06-08 09:26] mtcolman opened #340 "API error (500): fill out specgen: must set source volume"
Expected Behavior
=================
Tried running a `docker-slim build` against an image I have locally.
[code]

I would expect it to build a slim image.

---
Actual Behavior
=================
received:
[code]

---
Steps to Reproduce the Problem
===============================

  1. Create Dockerfile:
[code]

  2. Build image (using docker/podman)
  3. Ensure image available locally
  4. Run `dock

[2022-06-10 06:38] erfan-mehraban commented on #331
@kcq What is the process of checking issues in this repository?

[2022-06-10 07:07] kcq commented on #331
Great issue @erfan-mehraban ! Thank you for sharing it and the repro info. It'll make it easier to root cause the problem. Give me a couple of days to review and I'll post an update

[2022-06-10 09:56] pawelrosada opened #343 "Fat git-core catalog after slim"
Expected Behavior
=================
Image smaller than fat

---
Actual Behavior
=================
cmd=build info=results status='MINIFIED' by='0.77X' size.original='461 MB' size.optimized='599 MB'

---
Steps to Reproduce the Problem
===============================
[code]

` docker-slim build --remove-file-artifacts --preserve-path /usr/libexec/git-core/ --exec "git init" --http-probe=false -target

[2022-06-12 09:53] reikolydia commented on #317
i'm getting a similar issue as well for SQLAlchemy

[code]

[2022-06-13 13:49] pawelrosada commented on #320
I getting same error using Google Cloud build
After some repeats (5-6) it will working.

Any idea how work with cloudbuild efficiently?

[2022-06-13 13:51] dawidolespl commented on #320
I am experiencing very similar behavior also with random occurrence:
`cmd=build state=container.inspection.finishing
time="2022-06-13T13:34:09Z" level=error msg="channel.CommandClient.Call: c.Read error = EOF"
time="2022-06-13T13:34:09Z" level=error msg="ipc.Client.SendCommand() cmd channel call error=EOF\n"
time="2022-06-13T13:34:09Z" level=warning msg="docker-slim: warning" error=EOF stack="goro

[2022-06-15 08:21] hood commented on #321
Any news on this?

[2022-06-18 05:06] akankshakumari393 commented on #253
Hi @kcq is someone still working on it?

[2022-06-18 05:37] kcq commented on #253
Are you interested in contributing this enhancement :)

[2022-06-18 05:41] akankshakumari393 commented on #253
@kcq yeah I am interested.

[2022-06-18 06:58] kcq commented on #253
Let's chat then :)

[2022-06-20 07:58] erfan-mehraban commented on #331
@kcq

I would appreciate it if you could point me in the right direction to debug this issue.

[2022-06-20 16:09] pawelrosada commented on #343
Run script:
[code]

Fixing this issue.
It's looks like docker slim have problem to work with hard link files.

Any ideas?

[2022-06-21 05:28] akankshakumari393 commented on #253
hey @kcq, I am new to it, could you please suggest me where do we start with?

[2022-06-22 00:35] kcq commented on #343
@pawelrosada yes, need to improve hard link handling (it's been on the todo list for a while :-)) will use this report as an opportunity to revisit the problem

[2022-06-22 00:39] kcq commented on #343
Need to double check the `--preserve-path` flag behavior with directories. `--include-new=false` might be usedful too if you don't want any new files that get created when the image is executed

[2022-06-22 07:43] kcq commented on #339
@mthbrown  looks like the java app gets stuck. The `1.37.6` ( https://downloads.dockerslim.com/releases/1.37.6/dist_linux.tar.gz ) might fix the problem

[2022-06-22 07:54] kcq commented on #323
thanks for opening the issue! investing...

[2022-06-22 09:32] mtcolman commented on #340
@kcq I have just podman installed, but also `podman-docker` to emulate docker (but is actually podman)

[2022-06-22 16:58] kcq commented on #253
@akankshakumari393 when are you online? I can give you an overview.

A few notes to get you started in the meantime...

The docker-slim I/O happens using the `ExecutionContext` construct ( https://github.com/docker-slim/docker-slim/blob/master/pkg/app/execontext.go ). The`ExecutionContext.Output.Info()`, `ExecutionContext.Output.State()`, `ExecutionContext.Output.Message()` and `ExecutionContext.O

[2022-06-23 05:14] adirook opened #346 "profile command not running on M1 macs"
Expected Behavior
=================
Start profiling a container

---
Actual Behavior
=================
Container failed to start with the following error

[code]

---
Steps to Reproduce the Problem
===============================

  1. run the profile command on an M1 mac

---
Specifications
=================
[code]

[2022-06-23 17:28] akankshakumari393 commented on #253
Hey thanks, I will go through these and will let you know in case I have any doubt.

[2022-06-24 13:16] prshoper commented on #320
Any idea how to fix this issue?
It occurs only when running in Google Cloud Build

[2022-06-25 04:05] rghdrizzle commented on #322
@kcq sorry for the late reply , there is some feature in docker , where when u build the dockerfile you can give a command where it prevents the container to be run in privileged mode  like you can prevent privilege escalation through the exploitation of SETUID binaries by using the --security-opt=no-new-privileges flag when running containers , and im just learning about the docker security so i

[2022-06-25 07:31] akankshakumari393 opened #347 "Missing make target in README for containerized build"
Description
===============
In the README, we are currently not providing proper make target for containerized build. [https://github.com/docker-slim/docker-slim/blob/b5d7fe290e94236657021a15d36fdbdd5d690107/README.md?plain=1#L898](https://github.com/docker-slim/docker-slim/blob/b5d7fe290e94236657021a15d36fdbdd5d690107/README.md?plain=1#L898)

Expected Behavior
=================
we should provide

[2022-06-25 09:40] akankshakumari393 commented on #253
@kcq How is the globalflag `--log-format` different from the `json-output` that we are gonna add?

[2022-06-25 17:56] kcq commented on #253
The `log-format` flag is for the logging data output. The standard output output data is different from the logging data, which is usually disabled and you enable it when you need additional debugging information. Both end up being printed to the screen, but they are independent of each other.

[2022-06-27 07:42] grillazz opened #348 "gitlab ci timeouts on docker-slim build"
Expected Behavior
=================
As user I expect to be able to run docker-slim on Gitlab CI pipeline

---
Actual Behavior
=================
docker-slim build ending with error.
Please find debug log below:

[code]

---
Steps to Reproduce the Problem
===============================
1. `gitlab-ci.yml`
[code]
2. `docker-compose.slim.yml`
[code]
[code]

[2022-07-03 17:02] kcq commented on #253
@akankshakumari393 let me know if you want to do an online session next week to go over the enhancements

[2022-07-06 04:02] kcq commented on #347
yes, good idea

[2022-07-06 04:07] kcq commented on #346
Thank you for opening the issue @adirook ! Looks like there's a problem mounting the sensor into the temp container... Is it only with the profile command or do you get the same with the build command too?

[2022-07-06 04:45] mackizhu commented on #147
@kcq I also met the same issue  when I ran the Java slim image with docker command.
<img width="1783" alt="image" src="https://user-images.githubusercontent.com/52065786/177470212-03e87974-2294-4360-b3a8-6efa9b7d1577.png">
<img width="1775" alt="image" src="https://user-images.githubusercontent.com/52065786/177470494-8c3ce16d-e1b1-4886-b09c-fb6dcc7e3a6d.png">

[2022-07-06 04:48] mackizhu commented on #147
@kcq I also met the same issue when I ran the Java slim image with docker.
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/52065786/177470839-7458cda1-6320-4bd0-bea7-aa85f9e1e976.png">
<img width="1780" alt="image" src="https://user-images.githubusercontent.com/52065786/177470934-f8465239-649e-41d2-8e47-c477b1c575e4.png">

[2022-07-06 04:49] akankshakumari393 commented on #347
cool, I will raise a PR for this

[2022-07-06 04:51] akankshakumari393 commented on #253
@kcq I won't be available this week. I would be good if we can schedule it to next week.

[2022-07-06 05:55] kcq commented on #348
@grillazz Try using the `sensor-ipc-mode` flag too setting its value to `proxy` (and you shoudn't need the `in-container` flag). Here's an example: `docker-slim build --sensor-ipc-mode proxy --sensor-ipc-endpoint 172.17.0.2 --compose-file compose.yml --target-compose-svc your-service-name`

Also try it without the `sensor-ipc-endpoint` flag like this: `docker-slim build --sensor-ipc-mode proxy --c

[2022-07-06 06:53] adirook commented on #346
Same on build command :

[code]

[2022-07-07 06:36] kcq commented on #346
Thanks for confirming! That's what i expected... Can you share the list of your docker volumes (the ones that include docker-slim in their name) and then can you list their content (eg `docker run -it --rm -v docker-slim-sensor.1.37.6:/dss alpine ls -lh /dss`)

[2022-07-18 14:37] miguelvr opened #353 "Error when building againtst tensorflow-serving images"
# Description

When trying to slim down the tensorflow serving image, the `docker-slim build` command fails.

Maybe this is user error, but It is not clear from the documentation what should be taken into consideration when trying to build an image.

Expected Behavior
=================

Command to succeed

---
Actual Behavior
=================

[code]

---
Steps to Reproduce the Problem
==========

[2022-07-19 08:49] mthbrown commented on #339
I did a quick check and I can now connect to the port. Thanks

[2022-07-19 08:49] #339 closed

[2022-07-20 08:42] HansBambel commented on #312
This would indeed be amazing. Ran into the same error as @sharq1 when trying to optimize our Dockerfiles

[2022-08-01 07:25] jevi061 opened #358 "Incorrect env value"
Expected Behavior
=================

env variables in slim image are the same as target image

---
Actual Behavior
=================

env values in slim image are incorrect
**Target Image:**
[code]
**Slim Image:**
[code]

---
Steps to Reproduce the Problem
===============================

  1. build any docker image with env like above.
  2. build slim image with target image generated in last ste

[2022-08-01 19:02] #348 closed

[2022-08-03 13:09] kcq commented on #358
thanks for opening the issue @jevi061! just to double check... what do you get if you put the env var value in quotes like this `ENV JAVA_OPTS="-server -Xms512m -Xmx1024m -XX:MetaspaceSize=256m -XX:MaxspaceSize=512m"`

[2022-08-03 18:02] mritunjaysharma394 commented on #358
Thanks @jevi061 for opening the issue, upon initial investigation, I think this is because we are not handling cases of more than 1 `=` in ENV. The below line of code can tell this to some extent and that's why we get only after the first `=` in slim image  `ENV JAVA_OPTS=-server -Xms512m -Xmx1024m -XX:MetaspaceSize`:

If this hypothesis is correct, I can start working on PR to fix this may be? cc

[2022-08-03 19:16] mritunjaysharma394 commented on #358
Or may be this part of the code where the issue might be: https://github.com/docker-slim/docker-slim/blob/97416477da7e6684fc555c2a581f3dcb217c36b0/pkg/docker/dockerfile/dockerfile.go#L86

[2022-08-03 23:55] leslie-qiwa opened #360 "docker slim container still running after exit"
Expected Behavior
=================
docker slim container should quit after analysis

---
Actual Behavior
=================
It is still running. Even the old analysis
[code]

---
Steps to Reproduce the Problem
===============================

This is probably related with our private image and may not be reproduced at your side
  1. run `build` command. After build, `docker ps` shows new running d

[2022-08-04 00:21] kcq commented on #360
Thanks for opening the issue @leslie-qiwa ! This looks like an unexpected failure running the app in the container. The exit path there doesn't cleanup the temporary container docker-slim created. Will be an easy fix :)

The bigger question here is why there's a problem with the entry point in your container image.

`os.PathError,Info=fork/exec /entrypoint.sh: no such file or directory`

Silly que

[2022-08-04 03:24] jevi061 commented on #358
@mritunjaysharma394 Thanks for your quick reply!

[2022-08-04 03:28] jevi061 commented on #358
@kcq its not about the quotes, and @mritunjaysharma394 made a pr which could fix this , so I will close this issue

[2022-08-04 03:28] #358 closed

[2022-08-04 06:38] mritunjaysharma394 commented on #347
I think this issue is fixed, we can close it @kcq ?

[2022-08-04 17:59] leslie-qiwa commented on #360
This file is not exist in the base container indeed, because our CI will build another running container based on this base container. In this new build process, it will copy entrypoint.sh to the destination.

I'm adding `--mount` option, and got new `permission deny` failure now. Am I using the right command ?
[code]

[2022-08-05 03:45] kcq commented on #358
@jevi061 by the way, the spec ( https://docs.docker.com/engine/reference/builder/#env ) requires that the white spaces are escaped:

[code]

It also has this interesting part:

[code]

That means that your `ENV JAVA_OPTS=-server -Xms512m -Xmx1024m -XX:MetaspaceSize=256m -XX:MaxspaceSize=512m` might be interpreted as in an unexpected way.

They also mention the legacy `ENV MY_VAR my-value` format,

[2022-08-08 15:32] pavankumar-go commented on #178
same on M1 12.4
[code]

[2022-08-08 19:29] kcq commented on #178
@pavankumar-go What is the image you are trying to minify? Is this an arm64 container image? Usually you get this when there's no arm64 version and you end up with the amd64 version and the way those images are executed on M1 has limitiations in terms of what system/kernel capabilities are available in the emulation mode they use.

[2022-08-09 05:33] pavankumar-go commented on #178
@kcq the image has an arm64 build

[code]

[code]

[2022-08-21 06:52] ultranity commented on #178
Facing same problem, by checking the host device system, it seem that some distros like alpine do not have fanotify support in kernel by default (as you can check by `cat /boot/config-<kernel_version> | grep FANOTIFY`) and leading to this error.
Currently my solution is to use a VM of unbuntu (or any other distro with fanotify) to run docker-slim.

Since docker-slim use fanotify only trace the fil

[2022-08-21 21:26] #308 closed

[2022-08-23 09:45] Somyarani13 opened #369 "docker-slim throwing no such file or directory error."
Expected Behavior
=================
I am building a docker image(not slimmed) and then build the slim image using the non-slim image.
Command used to build the slim image is
docker-slim build --target slim_image --expose 5000
It generates the slim image but when trying to create a container for the given slim image, it throws
no such file or directory :- usr/local/lib/python3.8/site-packages/pydic

[2022-08-24 02:11] kcq commented on #369
@Somyarani13 thank you for opening the issue! What kind of app do you have? Server or CLI app? What do your entrypoint and cmd instructions look like?

What happens when you use the --include-path parameter? That should be the right param to use if you want to keep extra files.

[2022-08-26 04:33] #253 closed

[2022-08-26 11:57] elsbrock commented on #178
Happens eg. when using Rancher Desktop (and I assume others too) on MacOS.

[2022-08-27 09:17] kcq commented on #178
Disabling the fanotify data source is going to be the easiest route (inotify isn't quite the same). It's not exposed with a flag yet, but it should be possible.

[2022-08-27 09:18] kcq commented on #178
Are you using M1? What's the architecture for the container?

[2022-08-27 16:29] #347 closed

[2022-08-27 16:35] #258 closed

[2022-08-27 16:52] kcq opened #371 "docs/readme: CI/CD integration section"
Integrating with the CI/CD environments is briefly mentioned in a couple of places, but that's not enough.

[2022-08-27 16:56] kcq opened #372 "docs/readme: document the 'debug' command"
We have no info about the 'debug' command in readme. We do have the `DEBUGGING MINIFIED CONTAINERS` section. Need to extend this section to show how to use the 'debug' command in addition to adding the basic command and flag info.

[2022-08-27 17:00] kcq opened #373 "HTTP Probe: Enhance apispec based probes to generate dummy query string, path and body request param data ('http-probe-apispec' and 'http-probe-apispec-file' flags)"

[2022-08-27 17:06] kcq opened #374 "Refactor to use one set of Docker instruction name constants when processing Docker instruction/command info"

[2022-08-27 17:18] kcq opened #375 "'server' sub-command for the 'registry' command"
Need to leverage the registry server in the go-containerregistry library ( https://github.com/google/go-containerregistry/tree/main/pkg/registry )

[2022-08-27 17:38] kcq opened #376 "docs/readme: document the 'registry' command and sub-commands"

[2022-08-27 17:39] kcq opened #377 "'push' sub-command for the 'registry' command"

[2022-08-27 17:43] kcq opened #378 "Authentication support for the 'pull' sub-command ('registry' command) with an ability to use native registry auth"
Native registry auth example: using the AWS key ID and secret directly.

[2022-08-27 17:49] kcq opened #379 "Native installers for the major app package managers (deb, rpm, etc) using go-releaser and/or other helper tools"
Note: creating a native MacOS installer will be tricky (but possible) on Linux (probably should be a separate issue).

[2022-08-28 16:01] smpurkis opened #380 "docker slim fails with "write unix @->/run/docker.sock: write: broken pip""
I am trying to slim a docker image that runs a simple python script.

Expected Behavior
=================
Sucessfully makes a image that is slimmer or the same size as the image it is working on

---
Actual Behavior
=================
Errs with
[code]

---
Steps to Reproduce the Problem
===============================
I am trying to slim a docker image that runs a simple python script.
A simple rep

[2022-08-29 08:31] DavideRutigliano commented on #182
Hi,

Following up on this discussion, I am having the same issue on several images (I am using SUSE linux but can't share images either).

### Expected Behavior

Container is able to start using the auto-generated seccomp profile.

### Actual Behavior

Container does not start throwing following error:
[code]
### Solution

Solved by adding `fstatfs` syscall in seccomp profile list of allowed syste

[2022-08-29 09:05] kcq commented on #182
@DavideRutigliano confirming where the call is coming from to find the right place for it. Either way, will add it. Will update soon.

[2022-08-31 08:38] krema commented on #300
That did it for me:

[code]

[2022-08-31 12:38] jchristi commented on #278
I got past this part by enabling the podman socket unit:
[code]
Now I get a permissions error related to fanotify:
[code]

[2022-08-31 13:39] kcq commented on #278
@jchristi what's the architecture of the machine where you are running it? is it arm or amd?

[2022-09-02 13:39] jchristi commented on #278
@kcq x86_64

[2022-09-12 18:07] rchildress87 commented on #275
Issue appears to still exist on docker-slim 1.38.0:

https://gist.github.com/rchildress87/4b6069fa49cc015e1c5769e7103e0f62

[2022-09-20 08:40] xs818818 opened #401 "please help me how to slim gpu docker"
like nvcr.io/nvidia/pytorch:21.10-py3

[2022-09-27 22:34] engin-can commented on #275
Same here

[2022-09-27 22:42] engin-can commented on #300
Same problem here...

[2022-09-28 15:33] elsbrock commented on #178
No, on X86_64 with an X86 container.

[2022-09-29 06:45] kcq commented on #401
do you have examples for pytorch and how you use it?

[2022-09-29 13:47] iximiuz opened #405 "Files deleted on probing stage aren't included in reports"
Expected Behavior
=================

When a file is deleted during probing, it should appear in the slim version of the image. Deleting a file means _access_, and that automatically should qualify the file as used.

---
Actual Behavior
=================

When some files are deleted during probing, they aren't included in the `creport.json` file and the `files` folder. It happens because the artifa

[2022-09-29 13:55] iximiuz opened #406 "Used files are ignored by findSymlinks() code"
Expected Behavior
=================

If a file is used, it should be included in the report and artifacts (unless explicitly excluded).

---
Actual Behavior
=================

While trying to slim an `alpine`-based image with a simple entrypoint `cat /etc/alpine-release`, sometimes (~1 out of 15 times), the sensor logic goes crazy and says:

[code]

This leads to:

[code]

[An example of a failed

[2022-09-30 21:24] RahulSurwade08 commented on #379
Hey @kcq , I would love to work on this issue under Hacktoberfest. How can I get started?

[2022-09-30 21:31] RahulSurwade08 commented on #371
Hey @kcq , I would love to contribute to this issue under Hacktoberfest. How can I get started?

[2022-10-02 16:09] matth65 opened #409 "Unable to scan a slimmed image for bom and security issues"
I'm building a minified ubuntu:20.04 based image with a few applications. I have to specify the applications to keep manually using several include statements as shown below.

docker run -it --rm \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v ${DOC_BUILD_ROOT}/docker-slim-state:/bin/.docker-slim-state \
  dslim/docker-slim build \
    --http-probe=false \
    --continue-after 1 \
    --ta

[2022-10-03 03:29] dshamanthreddy opened #410 "DockerSlim is not working"
Expected Behavior
=================

After issuing the `docker-slim build --target` it has build a slim image

---
Actual Behavior
=================

It not building the image but giving below error

`docker-slim build --target dslimexamples/java-dropwizard-standard:latest --tag dslimexamples/java-dropwizard-standard:slim
app='docker-slim' message='Join the Gitter channel to ask questions or to sh

[2022-10-03 09:23] iximiuz commented on #406
Supposedly fixed by #408.

[2022-10-03 09:23] #406 closed

[2022-10-03 09:41] iximiuz commented on #410
I tried the fresh version (1.38) and it worked just fine.

[code]

Could you share the output of the following:

[code]

Also, by any chance, is it ARM64 (i.e., M1/M2 chip)?

[2022-10-03 12:30] iximiuz commented on #410
I'm afraid you skipped the results of `file $(which docker-slim)` and `file $(which docker-slim-sensor)`. These would be the most interesting to see. Also, as mitigation, you could try `docker volume ls` and then remove every volume mentioning `docker-slim`.

[2022-10-03 12:55] dshamanthreddy commented on #410
@iximiuz gee missed it thanks , but how would I remove the  `local     docker-slim-sensor.1.38.0`, it comes when I do `docker volume ls` PFA

<img width="1512" alt="Screen Shot 2022-10-03 at 8 54 10 AM" src="https://user-images.githubusercontent.com/18470551/193581789-87b01d45-f20e-4b4d-9c5a-231138e63748.png">

[2022-10-03 18:08] bigpod98 commented on #409
it breaks these scanners as it removes dpkgdb and there is also no way for you to keep it with only these packages

[2022-10-03 19:18] iximiuz commented on #410
You can try `docker volume rm local docker-slim-sensor.1.38.0`. Overall, your setup looks reasonable to me, so this error you're facing is puzzling. Let me know if `docker volume rm` helped. And also knowing the architecture of the images you're trying to minify might be helpful.

[2022-10-04 03:59] shadowshot-x commented on #372
Hi @kcq . I would like to contribute to this. Can you assign me this issue?

[2022-10-04 14:31] olcuhu commented on #378
I'll take a look at this

[2022-10-05 14:35] dshamanthreddy commented on #410
It still don't help , The issue is on Local mac

[2022-10-07 18:13] engin-can commented on #159
@openedhardware  - For my understanding, did adding `--mount` solve your `Failed to establish a new connection: [Errno 16] Device or resource busy` problem? I'm currently facing the same problem on a HTTP request....

[2022-10-11 08:04] kcq commented on #410
Also will be good to see what's in the `docker-slim-sensor.1.38.0` volume. There've been a few similar reports in the past for M1, but haven't had much luck reproducing. Possible it's related to file permissions for the sensor.

[2022-10-11 08:13] kcq commented on #409
Some scanners do better than others, but it's a common problem with scanners. DockerSlim ends up exposing their primitive and hacky design :-) Instead of trying to make the broken scanners work DockerSlim will produce its own component metadata.

[2022-10-20 20:41] asdsyd opened #417 "[BUG] Website testimonies container box issue"
![image](https://user-images.githubusercontent.com/77977076/197053639-b13d7758-6c84-42e1-b84f-acd9e90f3c0a.jpeg)

[2022-10-23 10:54] erkanzileli commented on #376
Hi @kcq, is there any chance you review the PR?

[2022-10-23 22:27] #376 closed

[2022-10-24 14:12] Maxfashko commented on #306
Hello @kcq are there any updates?

[2022-10-27 14:46] shogohida commented on #377
Hi @kcq, is this issue still relevant? It seems 'push' sub-command already exists. I would like to contribute to this if anyone still needs to fix it.

[2022-10-28 10:32] OctavioCore commented on #343
Ran into this one as well - ended up with:
`status='MINIFIED' by='0.64X' size.original='450 MB' size.optimized='698 MB' `

When I got rid of  `/usr/libexec/git-core/` inclusion, the slim image went back to being smaller than the fat one. The issue occurs both with `include-path` and with `preserve-path` on the newest `docker-slim` version available.

[2022-11-10 14:07] gregorybosch commented on #178
Is there a resolution or mitigation for this issue?  I am seeing this on my mac with intel chip.  Docker service provider is provided by colima.

[2022-11-10 14:25] gregorybosch commented on #178
I am seeing this on mac using colima for docker.  Is there a solution for this?

[2022-11-11 02:26] antyung88 opened #428 "docker-slim no longer works in gitlab-ci- wait timeout"
Expected Behavior
=================
curl dockerslim release and execute in gitlab-ci -- using gitlab.com shared runners

---
Actual Behavior
=================
wait timeout

[code]

---
Steps to Reproduce the Problem
===============================

.gitlab-ci.yml
[code]

---
Specifications
=================
  - Version: 1.39.0
  - Platform: gitlab.com

[2022-11-11 03:12] antyung88 commented on #428
fixed by: https://github.com/docker-slim/docker-slim/issues/129

updated script:
[code]

[2022-11-11 03:12] #428 closed

[2022-11-14 08:33] usrme commented on #129
Just wanted to chime in that I had the exact same issue as the original poster and it turned out I had an active Tailscale exit node. Disabled that and everything was working once again.

[2022-11-14 15:47] kcq commented on #129
@usrme thanks for sharing your discovery!

[2022-11-15 15:21] osener opened #432 "downloads.dockerslim.com doesn't resolve (binary releases are broken)"
[code]

[code]

[2022-11-15 16:30] Destreyf commented on #432
I just ran into this as well, as osener points out the DNS doesn't seem to resolve to anything.

I do see that the domain was just updated recently (2022-11-15 05:31:57 UTC) (~12 hours ago).

I also see the nameservers are `NS1.HOVER.COM` and `NS2.HOVER.COM` if this domain lapsed payment, they may have disabled the dns records, I had this happened with a client and they had to get support to fix t

[2022-11-21 17:32] OscarIntellico opened #436 "Slimming Python file result in a ModuleNotFoundError or ImportError"
Description
=================
I'm trying to slim a docker container with some python dependencies ( in particular, pandas, numpy, scikit-learn). The original container runs fine without any issue. After running **docker-slim build** I get a much smaller container, but I think that the slimming process has been too aggressive. The error is also not consistent after different builds.

Source Code
==

[2022-11-27 15:30] DarkHeros09 opened #439 "docker-compose.yml: no such file or directory"
Expected Behavior
=================
running docker-compose.yaml through the docker-slim container with success using the following command:
```docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock dslim/docker-slim build --compose-file .\compose.yml --http-probe=false --target-compose-svc api```

---
Actual Behavior
=================
Gettting this error while running the command:
[code]

[2022-11-28 08:45] OscarIntellico commented on #436
I was able to solve it myself, I had to write
`ENTRYPOINT ["python3", "problem.py"]`
instead of the CMD file.

[2022-11-28 08:45] #436 closed, assigned to nobody